[2017-08-08 21:06] van800 opened #1 "How to use F# in Rider without VS?"
1. Add nuget https://www.nuget.org/packages/FSharp.Compiler.Tools to project
2. Changing TargetFrameworkVersion may be required

[2017-10-03 18:53] #1 closed, assigned to nobody

[2017-11-16 17:33] vasily-kirichenko opened #2 "ValueTuple type is missing in a new .NET Framework 4.7.1 project"
![image](https://user-images.githubusercontent.com/873919/32906200-3c768150-cb0d-11e7-959f-45bf2d45c4f3.png)

[2017-11-16 20:39] troykershaw opened #3 "F# files in the Solution Explorer are ordered alphabetically instead of the order specified in the project file"
This makes it difficult to know and adjust compilation order.

To be clear, the order is correct when compiling, it's just the display that's incorrect.

Here's an example:
![image](https://user-images.githubusercontent.com/1085872/32914417-83ca4ad4-cae3-11e7-9647-b5fb83406bd1.png)

[2017-11-16 20:48] vasily-kirichenko commented on #3
@auduchinok I don’t think all issues from YouTrack should be duplicated here. Maybe just turn off issues here?

[2017-11-17 05:49] troykershaw commented on #3
If you plan on taking PRs turning issues off is not a good idea. It will greatly reduce discussion on issues and what can be done to fix them, especially if this problem can be fixed in this repo.

[2017-11-20 10:05] auduchinok commented on #3
@troykershaw This is a duplicate of the [issue](https://youtrack.jetbrains.com/issue/RIDER-7771) on Rider tracker. I'll leave this issue open until the existing one is fixed.

@vasily-kirichenko We've had an internal discussion before opening the repo regarding disabling GitHub issues and couldn't come to agreement. We ended up keeping it enabled for now to see how it goes.

[2017-11-22 12:48] nojaf opened #4 "Question: Jetbrains.Fantomas"
I just found [this](https://www.nuget.org/packages/JetBrains.Fantomas/) on nuget and was wondering if it can be used outside of Rider?
A while ago I read that fantomas [might end up in FSharp.Compiler.Service](https://github.com/dungpa/fantomas/issues/125).
So now I'm curious where the team is heading with the usage of Fantomas. Will you eventually swap to the FCS version once it is stable?

On a

[2017-11-22 13:06] auduchinok commented on #4
@nojaf It is a version built against latest FCS, nothing is added, something not needed in our case is cut. This package should have been unlisted in NuGet, although technically it could be used outside Rider if a newer FCS is needed. A better approach would be to open a PR incorporating changes needed for the newer FCS in the Fantomas repo and ask its maintainers to publish a newer build to NuGet

[2017-11-22 13:42] nojaf commented on #4
Thanks for the clarification. I tested the formatting on a file instead of selection, it indeed works.

[2017-11-22 13:42] #4 closed

[2017-12-14 16:40] wklm opened #5 "Inlining Analyzer integration"
hey,

would it be possible to integrate the [Inlining Analyzer ](https://github.com/szehetner/InliningAnalyzer) into rider?

cheers,
Wojtek

[2017-12-17 11:34] auduchinok commented on #5
@wklm From a brief look I don't think it'd be feasible without rewriting a part of the analyzer itself right now. If it was a ReSharper extension, it'd be relatively easy to make it work in Rider, but it is an extension for Visual Studio that relies on VS APIs that ReSharper (and, consequently, Rider) doesn't have.

Using custom Roslyn analyzers is planned for 2018.1 Rider release, so as soon as i

[2018-01-11 14:24] gustavopinto opened #6 "Why the software history was not kept?"
Hi there,

I'm a researcher studying software evolution. As part of my current research, I'm studying the implications of open-sourcing a proprietary software, for instance, if the project succeed in attracting newcomers. However, I observed that some projects, like fsharp-support, deleted the software history during the transition to open-source.

https://github.com/JetBrains/fsharp-support/commi

[2018-03-11 18:35] auduchinok commented on #6
Hi @gustavopinto,

I'm apologise for the late reply. The most of the history is actually remained in the repo. The commit you're referring to was at the point when initial F# support has been moved from Rider/ReSharper codebase to a separate plugin, not at the time we've open-sourced it.
It's been several months since that commit and before the repo went public, so the most of the history is avail

[2018-03-11 19:09] auduchinok commented on #5
Closing as the question was answered.

[2018-03-11 19:09] #5 closed

[2018-03-14 21:22] gustavopinto commented on #6
Hi @auduchinok,

thanks for answering our research inquiries. We were able to collect 35 responses and we drafted a research paper with the results. The paper was submitted and accepted for the 14th International Conference on Open Source Systems (http://oss2018.org/). You can find the paper [here](http://gustavopinto.org/lost+found/oss2018.pdf). Hope you enjoy reading the paper!

Thanks again,

G

[2018-03-14 21:23] #6 closed

[2018-04-03 15:57] auduchinok commented on #3
Fixed starting in https://github.com/JetBrains/fsharp-support/commit/47c51d21533e2edbf6a603f6d54a5b5496b94593.

[2018-04-03 15:57] #3 closed

[2018-08-01 16:38] auduchinok commented on #2
@vasily-kirichenko Thank you, fixed in 5a8c95ede26bb498b91688baccd4bb28c614f81d.

[2018-08-01 16:38] #2 closed

[2018-08-08 07:40] vasily-kirichenko opened #17 "$ ./rider-fsharp/gradlew prepare does not work"
[code]

[2018-08-08 07:58] vasily-kirichenko commented on #17
Solved https://stackoverflow.com/questions/5991194/gradle-proxy-configuration

[2018-08-08 07:58] #17 closed

[2018-08-08 07:59] vasily-kirichenko opened #18 "`rider-fsharp\gradlew.bat prepare` fails"
[code]

[2018-08-08 08:06] vasily-kirichenko opened #19 "Build fails"
[code]

[2018-08-08 08:30] auduchinok commented on #18
@vasily-kirichenko Thanks, updated the readme in 0e94ff81360c4851b173850c8f45c08955110f07.
You have to `cd` into `rider-fsharp` first.

[2018-08-08 08:30] #18 closed

[2018-08-08 08:41] vasily-kirichenko commented on #19
After performing "refresh" action in the Gradle tool window the problem has gone.

[2018-08-08 08:41] #19 closed

[2018-08-10 03:12] tylerhartwig opened #20 ""Code Lens" support for function types"
After switching to Rider every day now for F#, this is the only thing I miss from VsCode + Ionide.

I think it's an awesome feature for F#, how hard would it be to get something similar in Rider? Does the IDEA platform support this kind of annotation?

[2018-08-10 09:08] realvictorprm commented on #20
As I implemented code lens for VIsual Studio I also thought about implementing it for Rider and so talked with someone about this but was told that there isn't such an API available yet for an suitable implementation.

[2018-08-10 09:16] vasily-kirichenko commented on #20
https://youtrack.jetbrains.com/issue/RIDER-2278

![image](https://user-images.githubusercontent.com/873919/43949771-2d9c9e74-9c97-11e8-80cd-5bf4bc3d9f88.png)

[2018-08-28 11:25] ShalokShalom opened #21 "Pure open source IDE"
[This](https://github.com/JetBrains/fsharp-support/blob/master/README.md) README reads rather confusing to me: Is it possible to build fsharp support without Rider?

[2018-08-28 11:39] vasily-kirichenko commented on #21
`cd <..>\fsharp-support\ReSharper.FSharp`
`msbuild ReSharper.FSharp.sln`

[2018-08-28 11:40] ShalokShalom commented on #21
I am on Linux.

[2018-08-28 11:41] ShalokShalom commented on #21
And Visual Studio is open source?

[2018-08-28 11:42] vasily-kirichenko commented on #21
Then you need mono and xbuild I guess.

[2018-08-28 11:50] auduchinok commented on #21
@ShalokShalom Yes, it is possible to build the Rider F# support plugin without using Rider, and it's [explicitly stated](https://github.com/JetBrains/fsharp-support/blob/master/README.md#requirements) in the readme that Rider is an optional tool to have.

You should have `dotnet` SDK installed which has `msbuild` bundled. To build the plugin you have to use 2.0 version or newer. `dotnet build ReSh

[2018-08-28 12:50] ShalokShalom commented on #21
Yes, it is explicitly stated, just not explicitly stated described how to do.

It is stated how to build Rider, see here:
https://github.com/JetBrains/fsharp-support#building-the-plugin-and-launching-rider-in-a-sandbox

And then "`if using IntelliJ IDEA`" which gets compared to `Gradle`.
Why?

I would more expect one way which describes how to build it with Rider and one how to build it with Intel

[2018-08-28 13:10] vasily-kirichenko commented on #21
The plugin consists of two parts: Intellij part (written in Kotlin) and Rider (.net) part, written in C#/F#. To build the plugin you need to build both parts. `gradlew prepare` downloads everything, `gradlew runIde` build the Kotlin part, downloads a Rider snapshot, copies .net part, installs the plugin into the test Rider and run it. Building ReSharper.FSharp.sln is needed in order to build .net

[2018-08-28 13:58] ShalokShalom commented on #21
So, how is this completely open source, if I need both parts? @auduchinok auduchinok says its possible without

[2018-08-28 14:06] auduchinok commented on #21
@ShalokShalom I'm not sure what are you asking about? The plugin consists of two parts both of which are open-source with sources in this repo.

[2018-08-28 14:08] ShalokShalom commented on #21
Ah, I see. So I use IDEA and the fsharp implementation of Rider in order to build. Thats fine.

As said, the [README](https://github.com/JetBrains/fsharp-support#building-the-plugin-and-launching-rider-in-a-sandbox) has no header/title without "Rider" in its name and that one is closed source.

[2018-08-31 13:21] vasily-kirichenko opened #22 "gradlew runIde fails"
[code]

[2018-09-07 09:41] auduchinok commented on #22
@vasily-kirichenko It's probably due to Gradle is running on JRE instead of JDK.
It happened on my machine as well after Java has auto-updated (and installed JRE version was newer then JDK version), installing a newer JDK fixed it for me.

The error doesn't look great though, but they added a better output in Kotlin 1.2.50 and I've just updated it in the plugin.

[2018-09-07 10:54] vasily-kirichenko commented on #22
Thanks, after removing all java from the machine and installing the latest JDK 8, the problem has gone.

[2018-09-07 10:54] #22 closed

[2018-09-15 16:37] NatElkins opened #23 "Stack overflow when opening FSharp.sln on Ubuntu 18.04.1"
**Steps to repro:**

1. Check out https://github.com/microsoft/visualfsharp
2. Open FSharp.sln using Rider.
3. Get popup about critical error occurring.

Log here: [backend-err.log](https://github.com/JetBrains/fsharp-support/files/2385903/backend-err.log)

Rider version info:
[code]

[2018-09-16 09:15] vasily-kirichenko commented on #23
I confirm it's reproducible on MacOS on

JetBrains Rider 2018.2 EAP
Build #RD-182.4231.478, built on September 8, 2018
Rider EAP User
Expiration date: October 8, 2018
JRE: 1.8.0_152-release-1248-b8 x86_64
JVM: OpenJDK 64-Bit Server VM by JetBrains s.r.o
macOS 10.13.6

[2018-09-18 12:50] nojaf opened #24 "Preserve newline in formatting"
The settings panel of the latest Rider does not reflect all options of the latest fantomas build.

![image](https://user-images.githubusercontent.com/2621499/45688372-800ed180-bb51-11e8-8f88-52bc253db557.png)

It does not have support for [PreserveEndOfLine](https://github.com/fsprojects/fantomas/blob/master/docs/Documentation.md#using-the-api).

If you can explain how I can add the setting, I'm w

[2018-09-18 14:17] auduchinok commented on #24
@nojaf Thank you for taking care of this. The new options can be added to the settings key here https://github.com/JetBrains/fsharp-support/blob/ecac866084a8492d4f80a5116ca6c47c70239dd1/ReSharper.FSharp/src/FSharp.Psi.Features/src/Formatter/FSharpCodeStylePage.fs#L18-L23

To add it to the settings page it should be added to the schema below in the same file: https://github.com/JetBrains/fsharp-sup

[2018-09-20 09:20] vasily-kirichenko opened #26 "Master fails to build"
[code]

[2018-09-20 09:28] auduchinok commented on #26
@vasily-kirichenko Thanks, it's due to another recent change to the SDK. I'll fix it shortly.

[2018-09-21 14:33] auduchinok commented on #26
Fixed in 631fcb14dbd48ed92a237f428bca66dbc50dac8a.

[2018-09-21 14:33] #26 closed

[2018-09-24 16:29] auduchinok commented on #24
Fixed in be1b20e955bb535da4b5af3fd1b9b7456db8e82b.

[2018-09-24 16:29] #24 closed

[2018-10-31 17:41] bentayloruk opened #29 "F# 4.5 yield upcast "relaxation" change not working in Rider JetBrains Rider 2018.3 EAP 4?"
F# 4.5 [relaxed the upcast requirements for yield in F# seq/list/array expressions](https://blogs.msdn.microsoft.com/dotnet/2018/08/14/announcing-f-4-5/).  We have some code that is taking advantage of this, but Rider is showing it as an error.

Below you can see a simple example of this issue (it's the code from the F# 4.5 announcement).  The lack of upcast shows as an error, but the project will

[2018-10-31 18:08] auduchinok commented on #29
@bentayloruk We probably need to update our bundled FCS to get this feature, it's somewhat outdated.
Thank you for the report, I'll take care of it.

[2018-11-19 08:18] jonasdw commented on #29
I'm having the same issue.

![image](https://user-images.githubusercontent.com/7934104/48694126-c4633000-ebdb-11e8-8560-b40688b7b55a.png)

`
JetBrains Rider 2018.2.3
Build #RD-182.4231.496, built on September 13, 2018
JRE: 1.8.0_152-release-1248-b8 x86_64
JVM: OpenJDK 64-Bit Server VM by JetBrains s.r.o
macOS 10.13.6
`

[2018-12-04 16:24] auduchinok commented on #23
Thanks for the issue,
it seems to be a Mono issue as I can reproduce it in other tooling as well and only when running on Mono. I've created another [issue](https://github.com/mono/mono/issues/11933) on their repo.

[2018-12-05 15:53] auduchinok commented on #29
Fixed in https://github.com/JetBrains/fsharp-support/commit/aee2308d21b2ed7389affe8f79f64717480a7960.

[2018-12-05 15:53] #29 closed

[2019-02-01 20:56] tylerhartwig commented on #20
Are there updated plans for this now that CodeVision has been implemented in Rider? :)

[2019-02-09 18:16] plentylife opened #38 "Refactor is not available"
Hello,

I'm trying to refactor some code in Rider 2018.3
When I try to rename a module, or a type, the option is grayed out.
![screenshot_20190209_131343](https://user-images.githubusercontent.com/31143124/52524619-d6012480-2c6c-11e9-9bf9-d522b7f411f6.png)
![screenshot_20190209_131428](https://user-images.githubusercontent.com/31143124/52524622-d8fc1500-2c6c-11e9-84c7-7d3b745f34fd.png)

Am I doing

[2019-02-09 19:21] vasily-kirichenko commented on #38
Currently Rename refactoring works on local bindings only. AFAIK @auduchinok is working on making it work on all symbols.

[2019-02-09 20:15] plentylife commented on #38
Oh, thank you. That's unexpected.
Is support for F# fairly low right now in general?

[2019-02-09 20:18] auduchinok commented on #38
@plentylife Rename is going to be available in upcoming 2019.1 EAP builds and nightlies when they become public.

[2019-02-09 20:30] plentylife commented on #38
Thank you for all your hard work!

[2019-03-21 11:51] auduchinok commented on #38
Rename is now available in 2019.1 EAP builds, please try it out. If you encounter case where it doesn't work, please create a separate issue (preferably on [our tracker](https://youtrack.jetbrains.com/issues/RIDER) if you have an account there).

[2019-03-21 11:51] #38 closed

[2019-04-03 20:16] jgardella opened #42 "FSharpLint ntegration"
[FSharpLint ](https://github.com/fsprojects/FSharpLint) is a project for linting F# code.

[2019-04-04 15:28] NatElkins opened #43 "Breakpoints improperly getting hit on file with same name"
I have multiple projects with files called Utils.fs.  When I set a breakpoint in one, both get hit.  See attached screenshot.  Notice that only the text in the background (where the breakpoint is getting hit) does not match the debugger modal.

Both are line 23, both are Utils.fs.

<img width="1070" alt="image" src="https://user-images.githubusercontent.com/1795462/55567904-a7338780-56cc-11e9-8d35

[2019-04-12 06:54] vasily-kirichenko commented on #42
I think there will be problems with different FSharp.Core versions used by this plugin and FSharpLint. I'd prefer to use FSharpLint as a submodule either than using it as referenced NuGet package. However, I may be wrong.

[2019-04-12 06:56] vasily-kirichenko commented on #20
Any updates?

[2019-04-12 07:57] auduchinok commented on #20
@tylerhartwig @vasily-kirichenko It's planned for 2019.2.
To get updates you can vote for the [issue](https://youtrack.jetbrains.com/issue/RIDER-22661) about the feature.

[2019-04-17 20:14] jgardella commented on #42
@vasily-kirichenko That's a good point. I was trying to get something working on my branch [here](https://github.com/jgardella/fsharp-support/tree/linter) and I ran into this issue. When you say submodule do you mean a git submodule, or am I misunderstanding?

[2019-04-17 20:33] vasily-kirichenko commented on #42
Yes, I meant a git submodule.

[2019-04-17 20:43] jgardella commented on #42
Thanks, I'll try it out and see if I can get something working.

[2019-04-24 19:59] jgardella commented on #42
I was able to get something working, would really appreciate feedback from @vasily-kirichenko and @auduchinok when you have some time. See the changes [here](https://github.com/JetBrains/fsharp-support/compare/191...jgardella:linter). I haven't created a PR yet because we will need to make a new version of FSharpLint which is signed, since fsharp-support is signed.

Also, I was able to see the lin

[2019-04-25 19:07] sjanahan opened #48 "Critical Failure | F# .NET Core OSx | Triple quoted JSON String | Rider 2018.3.4"
## Subject of the issue
Rider crashes with *Critical Failure* when I attempt to open a project with a triple-quoted string

## Environment
* OSx v10.14.3
* Rider v2018.3.4
* dotnet 2.1.504
* netcoreapp2.1
* Mono JIT compiler version 5.18.1.0

## Steps to reproduce

1. Clone this [repo](https://github.com/sjanahan/rider-crash-reproducer)
2. Open it in Rider v2018.3.4 on Mac OSx v10.14.3

## Expecte

[2019-05-01 16:50] #23 closed

[2019-05-01 16:50] NatElkins commented on #23
This issue has been (sort of) resolved.  Not seeing it with 2019.1.

[2019-05-01 16:54] NatElkins opened #49 "FSharp.Compiler.Private files not showing"
Repro:

1. Checkout `https://github.com/Microsoft/visualfsharp`
2. As per README.md, run `sh ./build.sh`.
3. Let it do its thing.
4. When it's done, open FSharp.sln in Rider.
5. Look at FSharp.Compiler.Private in the Solution Explorer.
6. Look at the source of the project file.

Majority of files are missing.  Is that expected?

![image](https://user-images.githubusercontent.com/1795462/57029598-3

[2019-05-01 16:55] NatElkins commented on #49
And I'm on macOS using 2019.1.

[2019-05-02 12:53] NatElkins commented on #49
Also the files appear without issue using VS4Mac.

[2019-07-05 07:41] drhumlen commented on #20
I'm still holding my breath for this feature :D

@auduchinok: Is there any ETA?

[2019-07-05 08:20] vasily-kirichenko commented on #20
@drhumlen

![EB948D6C-4A4D-43B0-88B6-0443431AA757](https://user-images.githubusercontent.com/873919/60708398-aa7e1f80-9f16-11e9-8eed-4035b2b45e1d.png)

😝

[2019-07-05 08:21] realvictorprm commented on #20
@vasily-kirichenko did you implement it?

[2019-07-05 08:34] vasily-kirichenko commented on #20
No, it was our awesome @auduchinok

[2019-07-05 08:36] realvictorprm commented on #20
It's a bummer, I would have loved to do it myself 😄 However I didn't know that the necessary stuff is already in IntelliJ.

[2019-07-05 09:15] drhumlen commented on #20
@vasily-kirichenko : woa woa wi wa! nice! 😄

Is there any way to try it out now? What do I have to do?

[2019-07-05 10:11] auduchinok commented on #20
@vasily-kirichenko is being shy here. He's done a great job of prettifying presentation and covering some cases missing in my prototype. 🙂

@drhumlen You'll need to build the plugin locally to test it. The most up to date version is in Vasily's [PR](https://github.com/JetBrains/fsharp-support/pull/53). It's still missing some crucial parts (like properly registering the provider and adding tests)

[2019-07-05 12:11] drhumlen commented on #20
@auduchinok: I see. It's nice to see it's in progress. I would very much like to use it right away, even if it's not 100% (registering providers?) or lacking in tests.

Is there any way for you toorelease it as an EAP/Beta even if it isn't perfect? And then finish up in upcoming PRs? Perhaps it could be a beta-toggle in the settings so people won't complain when it's not a 100%?

[2019-07-05 13:24] vasily-kirichenko commented on #20
@drhumlen It's quite easy to build it yourself. See the dev guide. It's just a couple of gradle commands and a single .net solution build.

[2019-07-05 14:14] drhumlen commented on #20
@vasily-kirichenko: I see. I tried cloning your repo and opening it in Rider, but there's just too many IDE errors. Something about my local mono installation being too new (I have 5.x, but the project seems to require 4.x-series?). Not sure how to juggle multiple different versions of mono on my machine simultaneously (I'm not a .NET expert, as you can tell).

Is there any chance you could compil

[2019-07-09 14:53] auduchinok commented on #20
The inferred types provider for Code Vision is now merged in and most likely will be available for testing in the next EAP build.
Thanks to @vasily-kirichenko for his help with this feature.

[2019-07-09 14:53] #20 closed

[2019-07-09 15:06] auduchinok commented on #21
If you want not to use Rider to build a Rider plugin I would recommend going with MSBuild from either Microsoft Build Tools or .NET Core SDK. Please use documentation for the tool of your choice.

[2019-07-09 15:06] #21 closed

[2019-08-05 15:36] TeaDrivenDev opened #57 "Error tooltip hides all other information"
Hovering over code with a compiler error only shows the error text and hides all other information, like function signatures and inferred types. This makes it a lot more difficult to find the actual cause of the error and fix it. Visual Studio and Ionide used to do that too, but now show both the normal information and the error in one tooltip, so all necessary data should actually be available fr

[2019-08-05 15:54] auduchinok commented on #57
There's everything ready on F# plugin side. The signature tooltips, however, are currently being hidden in the platform code that looks at higher severity of warnings/errors here.

There're issues in both Rider and IntelliJ projects on YouTrack. [IDEA-189703](https://youtrack.jetbrains.com/issue/IDEA-189703) is now considered fixed and its results look very promising to me. This is one of the scre

[2019-08-16 07:58] drhumlen opened #58 "Code reformat breaks the code"
When running code `Reformat Code` (cmd+opt+L), the produced code is broken because of indentation when using [<Annotations>]:

[code]

is changed to:

[code]

^ Notice the extra space in front of [<JsonRequired>]. That make the code on the next line "off side", which causes the whole parsing to fail.

----
Also, one unrelated question: I read on fantomas' site that Rider uses it for its formatting

[2019-08-16 08:45] nojaf commented on #58
Hey, Rider uses Fantomas so if there is a problem you should report in https://github.com/fsprojects/fantomas/.

Could you try this out in the online tool? https://jindraivanek.gitlab.io/fantomas-ui/#?fantomas=preview-trivia
We are working on a new version of Fantomas and some things might already be fixed.
If you encounter an issue in the tool (using the latest version, vNext 3.X), please create

[2019-08-16 11:06] drhumlen commented on #58
@nojaf : Trying the code above in the online tool you linked gives _correct_ code. When I do the same in Rider, it gives the _wrong_ code. So it seems to have been fixed in Fantomas then I guess :D  so unless the error is in Rider, it will probably start working again when you roll out your new version.

Is there an ETA on that? Also, can you add formatting options to the (fantomas) code formattin

[2019-08-16 11:14] auduchinok commented on #58
This could be due to Rider uses different default settings compared to the online tool. We have `PreserveEndOfLine` enabled by default to try to preserve used formatting style where possible.

All Fantomas options are already in `File | Settings | Editor | Code Style | F#`.

[2019-08-16 11:47] drhumlen commented on #58
@auduchinok : Ah. Nice. I tried to search for "fantomas" in the settings without finding anything, so that's why I assumed the settings wasn't there. But that's the fantomas settings. I see. Nice 😄

I tried removing `PreserveEndOfLine` now, and now none of my code breaks when I hit `Reformat Code` 😄. I don't always agree with Fantomas (it formats certain code in a weird way), but it's nice to have

[2019-08-16 13:09] smoothdeveloper opened #59 "[rename refactor] single case DU matching DU name could optionally be renamed"
Considering this code:
[code]

I'd like the rename refactor to optionally propose to rename the single case named `SingleCaseDU ` the same.

[2019-08-16 14:12] auduchinok commented on #59
@smoothdeveloper This is a great idea! It's really easy to always rename the only union case or a union with a single case. It is a bit harder to make it being renamed optional, though. I'll take a look, thanks!

[2019-08-18 12:40] auduchinok commented on #59
@smoothdeveloper Do you think it should also be suggested when the both symbols had different names before renaming?

The whole infrastructure is there in ReSharper so it was quite easy to get it working.

<img width="553" alt="Screenshot 2019-08-18 at 15 37 37" src="https://user-images.githubusercontent.com/3923587/63224527-246c1e80-c1ce-11e9-9113-ab96cd3f7508.png">

[2019-08-18 13:19] smoothdeveloper commented on #59
@auduchinok, exciting!

I have no strong opinion, maybe option to specify both names at once (user retain full control, defaults would be single case with same name gets both renamed)?

Do you see opportunity to compose a dialog with the list of all cases for batch renaming if this one prove successful?

[2019-08-18 13:29] auduchinok commented on #59
According to the text above the suggestions table the names of related symbols can be modified and they indeed are!
We can try to always provide the suggestions and to see if there're any complaints about them getting in the way in 2019.3 EAP/release.

<img width="552" alt="Screenshot 2019-08-18 at 16 21 35" src="https://user-images.githubusercontent.com/3923587/63224971-508a9e00-c1d4-11e9-9dc0-f1

[2019-08-18 13:30] auduchinok commented on #59
Can you share an example where changing all names at once could be more useful than doing renames separately?

[2019-08-18 14:18] auduchinok commented on #59
@smoothdeveloper Thank again for the idea, I'm closing the issue as it's was implemented in https://github.com/JetBrains/fsharp-support/commit/4965eb79d16974e6954626b4f0963914af701408. By all means share your thoughts about multi-case unions if you find such rename to be useful.

[2019-08-18 14:18] #59 closed

[2019-08-18 14:39] smoothdeveloper commented on #59
I'm just considering workflow with several simple refactor in a row, I know issuing refactor sequentially generally takes time in larger solution.

When doing rename on the top level identifier of a DU, if we can batch more changes in the editing, it would make it better, but I get that the rename workflow should be lean in terms of input (f2, type new name, enter, does what user expects 99%) and

[2019-08-26 10:47] smoothdeveloper opened #60 "fsx scripting doesn't use the correct FSharp.Core in the editor"
When I edit a .fsx with this code, it doesn't seem to bind to version of FSharp.Core having `Result` type and `Option.defaultValue`.
[code]

![image](https://user-images.githubusercontent.com/87944/63685265-30c02f00-c7ff-11e9-81f7-f4eff97e0d9f.png)

build settings:
![image](https://user-images.githubusercontent.com/87944/63685404-7ed53280-c7ff-11e9-8039-ea82de9ee3be.png)

fsi settings:
![image](ht

[2019-08-29 15:48] NatElkins commented on #49
@auduchinok This still appears to be an issue with the following version:

[code]

Any update on this?

[2019-09-14 22:32] deyanp opened #61 "Referenced projects not working, "The namespace or module is not defined" errors"

[2019-09-15 08:02] auduchinok commented on #61
@deyanp Thank you for the report. I'm not able to reproduce this behavior. Is there any chance you could share the solution it reproduces on? We can sign an NDA if needed.

[2019-09-15 11:57] deyanp commented on #61
Would a short "Screen Sharing" session tomorrow (Monday) at some time during the day (CET) be possible instead of sending you all the whole source code? Or do you need only the *.fsproj files?

I am trying to find out what is so different about the Framework.fsproj, as references to other projects seem to work ...

I see this and don't know why it so (vscode + ionide works OK, also build is OK):
!

[2019-09-15 12:03] deyanp commented on #61
When I delete and try to re-add the reference to Framework.fsproj from the UI I get:

![image](https://user-images.githubusercontent.com/25847560/64921280-96318b00-d7c1-11e9-9a59-8f3db965e55f.png)

[2019-09-15 18:48] deyanp commented on #61
my skype is: deyanp (https://join.skype.com/invite/MIJSgbdVrzMx)

[2019-09-16 06:20] deyanp commented on #61
Could it be that only projects up 1 folder (..\) can be referenced?

[2019-09-16 07:40] deyanp commented on #61
Not sure if it is related, but if I change something in the referenced project (Framework.fsproj) then building/rebuilding the project depending on it (Shared.fsproj or any other) does not consider that change ...

[2019-09-16 20:28] deyanp commented on #61
@auduchinok can you help? I am eagerly looking for moving from vs code + ionide to rider for F# development ...

[2019-09-17 08:37] deyanp commented on #61
Found the reason for the red project references:
<PackageReference Include="Microsoft.NET.Sdk.Functions" Version="1.0.29" />

[2019-09-17 09:12] auduchinok commented on #61
@deyanp Could you please check if adding the referenced project to solution helps in any way?
What is changed if you change/remove the Functions package reference?

[2019-09-17 09:20] auduchinok commented on #61
If you could make and share a small solution where it reproduces it would really help. If not, at least sharing your fsproj is a good way to go further.

[2019-09-17 10:48] deyanp commented on #61
well, check DepProj1 in this repo: https://github.com/deyanp/RiderProjectIssue ...

[2019-09-17 11:35] drhumlen commented on #20
This feature turned out really great btw 😄  It's very helpful to watch the type inference as I write out my function; even more so for function that are polymorphic. Thanks for making this @auduchinok  @vasily-kirichenko !

Question though: As of now, it only shows inferred type for top-level function/bindings & top-level inside module/class. It would be great to have the option to also see the ty

[2019-09-17 11:43] vasily-kirichenko commented on #20
@drhumlen After using the feature for a while, and because of https://youtrack.jetbrains.com/issue/RIDER-30413, I've switched it off :( It adds too much noise and effectively "reformat" code so that there are always empty lines.

So, I'm against showing even more lenses.

[2019-09-17 11:56] drhumlen commented on #20
@vasily-kirichenko: Oh, I show the lens information inline (ie. on the same line as my code), so I don't have that problem fortunately. I also use a dim/gray color for the lens information so it's never distracting. I highly recommend trying that. Having type information ready without the need to hover (which often doesn't work for me fsor) is gold.

...But it's definitely a good idea to make it o

[2019-09-18 04:34] tylerhartwig commented on #20
I too would like additional, local lens support for type inference. I agree it would make sense to have them off by default, it would be really nice to have them separately configurable as well, so that some lenses may be inline (for local functions, ect), and top level ones could be placed elsewhere if desired.

Personally, any scrolling effects do not bother me, and I love how configurable the I

[2019-09-18 12:05] drhumlen commented on #20
@auduchinok: What do you think?

[2019-09-19 17:26] auduchinok commented on #20
I would personally prefer using inline type hints than the lenses for local symbols. In any case it'd need some more work, though. :)

Adding lenses and turning them off by default may make some sense but I think almost nobody will ever turn them on as not many people seem to tinker with such settings at all. I don't mind having this feature optionally but, given the amount of people I expect to e

[2019-09-19 20:11] drhumlen commented on #20
On by default then, with the option to turn it off? Also, people who dont tinker aren’t real developers if you ask me ;) should we really cater them first.?

Using lenses will make it even less intrusive than the inline rendering atm, so that sounds good.

@auduchinok  But would it be possible to extend the current behaviour to local let-s now as a low-hanging fruit? Is it any harder than restrict

[2019-09-19 20:26] tylerhartwig commented on #20
I also think it being on by default wouldn't be a big deal, if the lens default location was inline rather than overhead.

[2019-09-22 21:34] drhumlen opened #62 "Code vision also for local function/let-binding"
Currently we have code vision for top level let-bindings, members and let-binding directly inside a module.

If we could extend the current behaviour to also show type information for local let-bindings that would be amazing imo.

If we just use the same presentation for local let-bindings as top-level ones, this should be a relatively low-hanging fruit now that the ground work is done?

This issu

[2019-10-01 13:57] drhumlen commented on #62
![Screenshot 2019-10-01 at 15 54 26](https://user-images.githubusercontent.com/4758115/65968665-ccc70100-e463-11e9-88be-16d433e3a453.png)

This is one of the reasons I want code vision btw. Often hovering a variable to see its type doesn't work because there's another thing that takes precedence – like this warning.

[2019-10-01 14:00] drhumlen opened #63 "F# 4.7 support"
Good code red. F# 4.7 has relaxed some of its syntax, and `yield`s are now (often) implicit.

You're probably already working on it, but I just thought I'd create an issue for it.

[2019-10-01 14:01] auduchinok commented on #63
Yes, I'm migrating FCS right now.

[2019-10-01 16:06] vasily-kirichenko commented on #62
@drhumlen Ctrl+Q shows a popup window with a symbol type (in C# format).

[2019-10-01 18:04] nojaf commented on #63
Would that be compatible with FCS 32?

[2019-10-01 18:26] vasily-kirichenko commented on #63
@nojaf what is FCS 32?..

[2019-10-01 20:31] nojaf commented on #63
@vasily-kirichenko https://www.nuget.org/packages/FSharp.Compiler.Service/32.0.0

[2019-10-01 21:35] auduchinok commented on #63
@nojaf Chances it would, as I've rebased to a roughly the same state of `master` FCS branch as the 32 release, but we may end up with a somewhat newer commit (which FCS will eventually get too). I think it should be compatible for Fantomas needs in any case.

[2019-10-02 06:04] nojaf commented on #63
Great, will this end up in the net193 branch?

[2019-10-02 08:47] auduchinok commented on #63
Yes, it's the current default branch and we will branch for 2019.3 EAPs/release from it.

[2019-10-02 10:45] drhumlen commented on #62
@vasily-kirichenko : I'm on macos, so the keybinding is different, but it's the action called "Quick documentation" (`F1` for me), right? I guess that's better than nothing for an emergency, but really want my type info in F# format, not some C#ified interpretation.

Also moving my cursor from where I'm working, over to the symbol and click it & ctrl+q/f1 throws me out of my coding flow compared t

[2019-10-02 10:50] vasily-kirichenko commented on #62
@drhumlen I'd like inferred type to be part of the tooltip, AFAIK it's gonna be possible as soon as Rider moves to standard IDEA tooltips.

[2019-10-02 17:43] rulrok commented on #58
Hello, I'm experiencing this annoying issue as well.

I created a [bug on Rider bug track](https://youtrack.jetbrains.com/issue/RIDER-33500) but they asked to go on `fantomas` project.

There, I found that the [bug had been fixed already](https://github.com/fsprojects/fantomas/issues/442).

I'd like that the formatting would work without having to change the `PreserveEndOfLine` option.

I prefer h

[2019-10-02 21:14] drhumlen commented on #58
Maybe @nojaf can answer? ^

@rulrok I too prefer the former style. While the second style is prettier in many ways, the former is more practical and while e.g. result in less git diff when add another field. It's almost more similar to how you would define types in other languages like TypeScript.

@nojaf Maybe there should be an option for formatting types & lists in the former style? Or has that

[2019-10-02 21:33] nojaf commented on #58
Hey, this looks like https://github.com/fsprojects/fantomas/issues/453

[2019-10-30 22:17] drhumlen commented on #63
F# 4.7 seems to be working very well since the release of 2019.3 🎉

I'm closing the issue(?).

[2019-10-30 22:17] #63 closed

[2019-10-31 12:55] auduchinok commented on #63
Yes, indeed. We've updated FSharp.Compiler.Service to a version that have F# 4.7 support.
I was going to close the issue after updating the release notes. :)

[2019-11-01 18:53] drhumlen commented on #62
I’ve noticed that in 2019.3 there’s a type annotation/hint for every `var` in c#. Would be nice to have the same in F# (rendered inline the same way?)

[2019-12-06 19:59] auduchinok commented on #43
@NatElkins Sorry for the long response. Is there a chance you could check if it reproduces in recent builds, e.g in 2019.3 EAP?

@Iliya-usov have you seen something like this before?

[2019-12-08 11:01] slang25 opened #76 "Signature/parameter tooltips for F# functions"
If we type `Math.Min(<caret>` we see a tooltip with the signatures and overloads for that method as we do in other IDEs.

I would like it so that if I type:
[code]

We could see the F# signature, and `List.fold` is the perfect example for me as I can never remember the order of parameters,  I would love for the IDE to just tell me what to pass as I move to each parameter, the experience in C# mean

[2019-12-24 12:27] auduchinok commented on #60
@smoothdeveloper Thank you for the report. It seems to have been fixes with some FCS/FSharp.Core update before.
<img width="511" alt="Screenshot 2019-12-24 at 15 25 37" src="https://user-images.githubusercontent.com/3923587/71413115-c52d8780-2661-11ea-8add-04927b9b15d7.png">

[2019-12-24 12:27] #60 closed

[2019-12-24 12:28] auduchinok commented on #58
Fixed in 2019.3 with Fantomas update.

[2019-12-24 12:28] #58 closed

[2019-12-24 12:32] auduchinok commented on #48
It has been fixed in FCS.
<img width="463" alt="Screenshot 2019-12-24 at 15 32 27" src="https://user-images.githubusercontent.com/3923587/71413312-9cf25880-2662-11ea-86a8-a2d15a64e3c1.png">

[2019-12-24 12:32] #48 closed

[2020-02-03 16:47] NinoFloris opened #85 "Open namespace issues"
Few issues I've come across repeatedly:

1. Rider sometimes adds the open above the first line (above namespace/module), not sure why
2. Rider cannot deal very well with multiple namespaces in the same file, it gets confused where to put the open causing the open to have no effect on the code you're writing.
3. Rider does not take `AutoOpen` into account when it opens from a function suggestion, c

[2020-02-03 17:00] auduchinok commented on #85
There's a related issue at the Rider tracker for it: [RIDER-27924](https://youtrack.jetbrains.com/issue/RIDER-27924).
I'm trying to fix/workaround most of the known problems with symbols import in 2020.1, and `1` and `2` are already fixed in a branch.

[2020-02-03 17:08] NinoFloris commented on #85
Ah that's welcome.

About 3, I guess similarly it should take into account `RequireQualifiedAccess` if it doesn't already.

[2020-02-05 11:06] auduchinok commented on #85
Fixes for `1` and `2` are now in: [696ddaf](https://github.com/JetBrains/fsharp-support/commit/696ddafbc1edaf96acf34d2fefc2dd79c9d29b91).

@NinoFloris Could you share some particular repros for the `AutoOpen` and `RequireQualifiedAccess` case you're seeing so I could check it as well?

[2020-02-05 15:12] NinoFloris commented on #85
[code]

For `RequireQualifiedAccess` I don't have an example but there may be cases where today an import isn't qualified enough for DUs/modules that are annotated with `RequireQualifiedAccess`. It's just somewhat of a dual to `AutoOpen` so it may have similar issues.

I did find another issue related to imports:
4. Importing a non generic symbol living in another namespace as its generic one, say

[2020-02-05 16:18] NinoFloris opened #86 "instance member marked with [<Extension>] isn't valid"
C# style extensions can only be declared as static members, catching that could be a helpful addition to the analyzer

[2020-02-05 17:49] #86 closed

[2020-02-05 17:51] auduchinok commented on #86
@NinoFloris I was thinking about adding it while fixing [RIDER-38809](https://youtrack.jetbrains.com/issue/RIDER-38809).

[2020-02-05 20:14] auduchinok commented on #85
Thanks, I see. The text to insert is currently coming from FCS items provider. I'll be looking into it as a part of [RIDER-27924](https://youtrack.jetbrains.com/issue/RIDER-27924) fix.

[2020-02-05 20:25] NinoFloris commented on #85
That `Auto` module was meant to be `Operators` of course...

[2020-02-06 16:00] drhumlen opened #88 "Semantic highlighting of parameters"
This will make it easier to visually distinguish between the name of a function and its parameters when definining it.
[code]
Here it would be easier to spot that `somelongname` is the function name, and the rest are parameters.

It will also make it easier to distinguish between local let bindings/values and the parameters from the outside.

Other languages have this distinction (e.g. javascript)

[2020-02-11 15:48] NinoFloris commented on #85
Trying to import a nested class (so, defined in C#) causes a compiler error because it just tries to import the parent class, which is not allowed until open static is out of preview.

[2020-02-11 15:50] auduchinok commented on #85
@NinoFloris Could you also attach some minimal repro snippets? It's also important to note which import method is used: code completion or a quick fix, since the first one is currently provided by FCS and the second one is done on our side.

[2020-02-11 15:53] NinoFloris commented on #85
Working on it :)

[2020-02-11 15:58] NinoFloris commented on #85
So quick fix ignores the parent class and imports just the namespace which is wrong in its own way without symbol fixup at the import site, while code completion tries to import the parent class like I said.

it's super simple

[code]

[code]

[2020-02-11 16:00] auduchinok commented on #85
@NinoFloris Yes, this case wasn't implemented yet. Thanks for repro!

[2020-02-18 20:50] tcarlisle2012 opened #93 "# equalitycompar"

[2020-02-18 21:07] auduchinok commented on #93
@tcarlisle2012 Could you add a description of the issue you're facing please?

[2020-02-25 19:53] auduchinok commented on #93
@tcarlisle2012 Please reopen if there's something needs to be added.

[2020-02-25 19:53] #93 closed

[2020-02-28 18:56] NinoFloris opened #96 "Optional;DefaultParameterValue C#/F# not shown correctly"
Given a signature containing a C# optional parameter

[code]

Rider shows, on symbol hover, no default parameter value:

<img width="879" alt="Screenshot 2020-02-28 at 19 48 19" src="https://user-images.githubusercontent.com/4218809/75578060-73d7b500-5a63-11ea-98ad-77ad3f580328.png">

And on method/overload? view it even shows this as an F# optional argument, and again no default parameter value.

[2020-03-03 19:00] NinoFloris opened #97 "Go to definition on any Seq function goes to prim-types.fs instead of seq.fs"
Go to definition on any Seq function goes to prim-types.fs instead of seq.fs

¯\\_(ツ)_/¯

[2020-03-03 19:03] auduchinok commented on #97
@NinoFloris Could add more details like the solution used for a complete repro, please?

[2020-03-03 19:06] NinoFloris commented on #97
[code]

Sorry @auduchinok but this one seems obvious.

[2020-03-03 19:26] auduchinok commented on #97
@NinoFloris Sorry, even though it could seem that way, looking at the initial comment only it might be possible that you were talking about navigation inside a compiler solution (like FSharp.sln, FSharp.Compiler.Service.sln, or others), and there may be some behaviour differences due to some of them reference FSharp.Core as a package/assembly reference and some reference it as a project reference.

[2020-03-03 19:30] NinoFloris commented on #97
Alright makes, sense I'll try to add some more info next time :)

I really only get a direct go to definition into prim-types, no dropdown. This is on EAP 2

[2020-03-30 16:00] mcon opened #107 "Developing ReSharper.FSharp on Linux"
I'm aware this isn't explicitly supported at the moment as per the README, but thought I'd have a quick go to see how far off this is from being possible.

 * Running `./gradlew prepare` ran without blowing up
 * Changing the target frameworks to `netcoreapp3.1`, it seems that quite a few of the referenced packages are netframework only
 * A bunch of winforms references don't look promising for Li

[2020-03-30 16:14] auduchinok commented on #107
I haven't tried building/running it on Linux but speaking from my experience it's possible to bulid the plugin, run, and debug it loaded to a sandboxed Rider on macOS which should be a similar experience to doing it on Linux.

There's no need to change the target frameworks due to use of the reference assemblies package:
https://github.com/JetBrains/fsharp-support/blob/dbee3578ab7ab1170f55481b5169

[2020-03-30 16:26] auduchinok commented on #107
There was a bug in 2019.3.x releases that would make Rider choose an MSBuild from Mono instead of the Core one on this solution and it wouldn't work. If you're using that release please choose a Core MSBuild in `Preferences | Build, Execution, Deployment | Toolset and Build`.

[2020-03-30 16:56] auduchinok commented on #85
It's also fixed now. If there are any type arguments, the suggested types are filtered based on the type parameters count.

[2020-03-30 17:10] mcon commented on #107
Thanks for getting back to me, so I can get a build working using MSBuild from netcore 3.1.102, but as you suggest I can't run the tests due to (not unsurprising) library load errors.

I did have to make a trivial change to a project file to get the build working however: https://github.com/JetBrains/fsharp-support/pull/108

I was hoping to be able to develop a new code completion feature, but as

[2020-04-08 21:57] dtwiers opened #111 "Overrides are turned into Members incorrectly on format"
Given
[code]
And then autoformatting in Rider gives
[code]

It's not an error, only a warning, but it's incorrect.
I'm also quite possibly missing some kind of setting somewhere, but I couldn't find one, so here I am.

[2020-04-08 22:08] auduchinok commented on #111
The code reformat is being done by [Fantomas](https://github.com/fsprojects/fantomas) library and the issue is already fixed there. We've updated bundled Fantomas version in upcoming 2020.1 release. There are [preview builds](https://www.jetbrains.com/rider/nextversion/) available if you want to make sure it's been fixed for you.

[2020-04-09 12:52] auduchinok commented on #111
I've just checked it on the code example above and it behaves as expected. Please let me know if it reproduces for you on 2020.1 on some other example.

[2020-04-09 12:52] #111 closed

[2020-04-15 22:19] drhumlen commented on #88
Simpler suggestion that can still give a lot of clarity:

Semantic highlighting of anything that is a _function_.

[code]
`add` would be in italics here (since it's a function int -> int -> int).
As would `add5` as it's also a function `int -> int` ... which can be really hard to see
`sum` is just a value (15 : int), so no special highlighting here.

[code]

Here the `f` parameter is a function an

[2020-04-15 22:30] auduchinok commented on #88
I like the idea to be able to highlight it differently. A separate highlighting for partial application would also be great to have.

[2020-04-16 11:59] NinoFloris opened #112 "FSharp.sln (dotnet/fsharp) linked project items are not shown"
FSharp.sln (dotnet/fsharp) linked project items are not shown

<img width="269" alt="Screenshot 2020-04-16 at 13 56 36" src="https://user-images.githubusercontent.com/4218809/79453645-3f579280-7fea-11ea-95c8-5dc083245598.png">

The repro for this seems to be:

1. First run build.sh/build.cmd
2. Only then load the project in Rider

Letting Rider handle the complete build causes all the folders and

[2020-04-17 16:34] saul commented on #112
Dupe of https://github.com/JetBrains/fsharp-support/issues/49, which hasn't had any official recognition yet. I don't think this is an F# plugin issue, it's likely an issue with Rider itself. More likely to get a response on the Rider YouTrack

[2020-04-26 20:10] auduchinok commented on #49
There's a bit of MSBuild magic here and there in the compiler solution, along with additional support for working on FSharp.Core and referencing it as a project inside FCS itself. We likely need to add some special handling too.
As a workaround, it's possible to work on the compiler via `fcs/FSharp.Compiler.Service.sln` solution, which contains most of the compiler code and references FSharp.Core

[2020-04-26 20:12] auduchinok commented on #112
@NinoFloris @saul Yes, it's a duplicate, thanks, I left a comment there. Basically, using `fcs/FSharp.Compiler.Service.sln` is way to go for now, and keeping a single target framework improves the perf. Let's continue the discussion in #49, thanks!

[2020-04-26 20:12] #112 closed

[2020-05-09 13:49] nojaf opened #123 "Cannot runIde with gradle"
I'm trying to run the IDE but without any luck.
[code]

`gradle prepare` ran without any problems.

[code]

Am I missing something here? Or can I clean a cache somewhere?

[2020-05-09 22:07] auduchinok commented on #123
@nojaf There're apparently another set of API changes in the SDK, I'm looking into it.

[2020-05-09 23:03] auduchinok commented on #123
@nojaf Some APIs got broken and we'll have to fix them in the SDK. I've pushed a workaround to `net202`.

[2020-05-09 23:03] #123 closed

[2020-05-10 07:30] nojaf commented on #123
Thanks!

[2020-05-13 18:07] NinoFloris opened #124 "Rider still does not recognize InternalsVisibleTo in project file"
I've also opened a youtrack issue, @auduchinok I saw you commented on the related issue I mentioned - in 2018. I only tried with an F# project, maybe this does work in C# due to compile globbing?.
https://youtrack.jetbrains.com/issue/RIDER-44439

I would really like this to work, F# assembly attributes - in source - are quite painful to author.

[2020-05-13 18:17] auduchinok commented on #124
@NinoFloris Thanks for the heads up.
It'd be easier to work with a single issue, since all three issues are about the same problem, so I 've marked your issue as a duplicate. If you happen to have a minimal repro solution that'd be easy to look into please attach it to [RIDER-22312](https://youtrack.jetbrains.com/issue/RIDER-22312).

[2020-06-05 18:39] En3Tho commented on #88
I'm actually trying to get this thing done now but I guess it's kinda hard to do it with parameter as I still can't really find a "transition" between FSharpValue and FSharpParameter.

Looks kinda like this and I already like it because I can easily spot methods and funcs but I'm quite a fan of having parameters highlited differently too.

![image](https://user-images.githubusercontent.com/3733464

[2020-07-18 12:56] landy opened #147 "After moving .fs file in fsproj code completion doesn't work"
hello I've encountered pretty annoying issue:

When I add a new fs file to the project and then move it up in the list of files in fsproj I can't use the newly added code in the files that were previously on top of the new file but compilation works. After the restart of Rider everything works fine

this happens both in 2020.1.4 and 2020.2 EAP7 versions of Rider

[2020-07-19 10:06] saul commented on #147
Already reported on YouTrack here: https://youtrack.jetbrains.com/issue/RIDER-46461

[2020-07-30 18:47] auduchinok commented on #147
@landy Thanks for the report. I haven't seen this happening in 2020.1 builds, so there's probably something we're not aware of. What OS and MSBuild you use? Could you post your logs folder after reproducing it (here or to the YouTrack issue above)?

@saul It seems it could be something different, since what you're describing seems to be 2020.2-specific. I'm looking into it now.

[2020-07-30 19:52] landy commented on #147
Thanks for investigation :) I've created a simple repo https://github.com/landy/rider-fileorder. The error doesn't occur only when adding new file. For me it happens even if I open this project and when I reorder the files like this
[code]

Rider still thinks that the call in Domain.fs is invalid even if it can be compiled

[2020-08-03 16:24] NinoFloris opened #160 "Highlighting of Active Pattern cases"
Creating a simple active pattern like below, at use sites `NullableNone` and `NullableSome` aren't colored like say None and Some cases.

[code]

Testing somewhat more this seems to be the case for all kinds of active patterns, not just multi case patterns. Whether you'd want to color all of them like DU cases is something I'm not sure about.

[2020-08-04 06:45] auduchinok commented on #160
@NinoFloris Could you share screenshots with both union cases and active patterns using color scheme you use and Rider or ReSharper color scheme?

[2020-08-13 15:00] Sejsel commented on #107
I tested this now, found one generated file that wasn't placed in the correct location (made a PR, #165). Tests are still not supported, but other than that everything seems to work.

[2020-08-21 19:56] NatElkins opened #170 "Rider shows duplicate file entries under project"
Example:

![image](https://user-images.githubusercontent.com/1795462/90929310-7853a980-e3c6-11ea-96a8-85e9e5064a44.png)

But the project file looks like:

![image](https://user-images.githubusercontent.com/1795462/90929549-eef0a700-e3c6-11ea-8eb0-8e14a3eed986.png)

Steps to repro:

1. `dotnet new -i Fabulous.XamarinForms.Templates`
2. `dotnet new fabulous-xf-app -n SqueakyApp`
3. Open SqueakyApp.s

[2020-08-31 09:25] En3Tho commented on #160
@NinoFloris  There is an option to colorize Active Patter case as you wish. See below:
![image](https://user-images.githubusercontent.com/37334640/91704976-fc571f80-eb84-11ea-8fb7-e2a41090ec1d.png)

[2020-09-02 13:01] auduchinok commented on #160
@NinoFloris Could you share the requested repro, please?

[2020-09-02 15:32] auduchinok commented on #170
This happens when selected MSBuild doesn't have F# targets. Installing VS/Xamarin installed needed things, so it's expected. Is there any chance you could reproduce it again so it'd be possible to know what MSBuild was used before installing VS/Xamarin?

[2020-09-02 15:45] NinoFloris commented on #160
Whoops, yes it seems it's a color scheme thing (I'm using Visual Studio Dark)

<img width="368" alt="Screenshot 2020-09-02 at 17 44 58" src="https://user-images.githubusercontent.com/4218809/92005690-0ffcb480-ed44-11ea-8fb7-da67869a365b.png">

Maybe we could ship a better color by default?

[2020-09-17 19:48] endeavour commented on #62
Indeed, this would be very useful!

[2020-09-17 19:51] endeavour opened #180 "Editor support for implementing interfaces"
It would be great if rider could support automatically filling out the boilerplate code when implementing interfaces. For example, when entering the following code Rider could automatically fill in the member definitions with the parameters and argument names and types.

[code]

[2020-09-22 11:25] auduchinok commented on #57
It has been fixed in 2020.1, sorry for the late update here. 🙂
<img width="246" alt="Screenshot 2020-09-22 at 14 24 41" src="https://user-images.githubusercontent.com/3923587/93876357-62941580-fcdf-11ea-820e-ab752bef0748.png">

[2020-09-22 11:25] #57 closed

[2020-10-16 15:00] drhumlen opened #189 "F# 5 and string interpolation"
With .NET 5 and F# 5 just around the corner (currently rc2, official release in November), what is the status for F# 5 support? Probably the biggest new feature is string interpolations. Is there a roadmap for F# 5 features support?

[2020-10-16 17:43] NinoFloris opened #190 "Incorrect overload shown in tooltip"
Something I noticed under 2020.3 EAP 4 (though it may have always been there). This seems to happen specifically for extensions methods, the first? overload is shown in the tooltip instead of the used overload.

[code]

[2020-10-16 17:55] saul commented on #190
The tooltips are correct - you're using the wrong overloads. You need to parenthesise the lambda, like so:

[code]

[2020-10-16 18:04] NinoFloris commented on #190
Ah stupid, thanks

[2020-10-16 18:04] #190 closed

[2020-10-22 11:58] auduchinok commented on #189
@drhumlen I've started working on updating FCS and changing needed pieces in the plugin.

[2020-10-22 12:21] auduchinok commented on #180
@endeavour Is has been implemented in #129. There're few things that need to be done that are listed in https://github.com/JetBrains/fsharp-support/pull/129#issuecomment-700014919, and I'm going to fix/finish most of them them before 2020.3 release.

[2020-10-22 12:21] #180 closed

[2020-10-28 07:41] lsim commented on #61
Was this resolved? I'm trying to learn F# using rider and I am stuck on a super basic app with two modules in separate files, one referencing the other. They are in the same namespace - and the code comes from an example repo, so should be valid.

The problem I see is that my Program.fs cannot reference the `Counter` module exposed in the second file. The code is from [here](https://github.com/Ava

[2020-10-28 15:50] heronbpv commented on #61
@lsim I believe in your case it's just the order of files in .fsproject. File ordering is important in fsharp, so you can't reference a module defined in a file below the current one.

[2020-10-28 16:29] lsim commented on #61
Dude, thank you! It would have taken me a long time to arrive at that explanation.

I was not expecting to maintain the .fsproj by hand :)

[2020-10-28 16:30] auduchinok commented on #61
@lsim You can also drag-and-drop files right in the Solution/Project tree. :)

[2020-11-20 16:44] NinoFloris opened #207 "Highlighting issue with `static member access-modifier Foo(?x:string)`"
There is a single highlighting issue when this very specific combination of syntax is used:

[code]

The method braces get erroneously highlighted here

<img width="350" alt="Screenshot 2020-11-20 at 17 42 11" src="https://user-images.githubusercontent.com/4218809/99825785-c90aa800-2b57-11eb-8e6a-e2d2c057aa17.png">

[2020-11-23 12:26] auduchinok commented on #207
@NinoFloris Thanks for the report! It's fixed in [cd9b0b4](https://github.com/JetBrains/fsharp-support/commit/cd9b0b479158e260338080ba46b0d2104bf3eaa9).

The issue is FCS produces fake `OptionalParameter` attribute usages at such declarations, and our ignore heuristic didn't work well with access modifiers. The compiler issue is https://github.com/dotnet/fsharp/issues/3933.

[2020-11-23 12:26] #207 closed

[2020-11-23 21:55] auduchinok commented on #189
It's implemented now.

[2020-11-23 21:55] #189 closed

[2020-12-14 10:08] auduchinok commented on #85
Nested types qualifiers are also inserted via quick fix now.
Before:
<img width="411" alt="Screenshot 2020-12-14 at 13 04 59" src="https://user-images.githubusercontent.com/3923587/102068105-17d0f800-3e0d-11eb-9a60-f6daf90c94b4.png">
After:
<img width="474" alt="Screenshot 2020-12-14 at 13 05 23" src="https://user-images.githubusercontent.com/3923587/102068112-19022500-3e0d-11eb-8c02-51aa73fb2477.

[2020-12-14 11:25] auduchinok commented on #147
Should be fixed in 2020.3.

[2020-12-14 11:25] #147 closed

[2020-12-14 13:36] pzelmanski opened #210 "Inline parameter types for custom operators"
There is no inlined parameter types for custom operators, as seen on a screenshot below
![image](https://user-images.githubusercontent.com/8440344/102086158-e9a4e580-3e17-11eb-8239-48519b5699fe.png)

There are libraries that provide custom operators like `FSharpPlus` or `FParsec` which are notable F# libraries and this issue makes showing inlined parameter types inconsistent, which works only for

[2020-12-15 12:28] drhumlen commented on #88
Quoting myself here. I just discovered that this exact feature is implemented now. Not sure how long this feature has been here since none of the color schemes I've been using has differntiated functions from values (currently using "Rider Dark").

But this is working now, which is Very Nice 👍 I'm closing the issue, but feel free to re-open if any of the other things discussed here is still releva

[2020-12-15 12:28] #88 closed

[2020-12-15 12:32] drhumlen commented on #62
It can easily become a bit noisy, but if combined with the new "Hold ctrl to view inlay hints" feature, I think this makes more sense now than it did when I opened the issue.

[2020-12-16 10:49] En3Tho commented on #88
@drhumlen I'm glad you like it! We've decided to not change any defaults with new highlighting capabilities. I also have an option to highlight parameters differently too, but it's in my custom fcs build and my PR enabling this feature is basically ignored by dsyme.  Can't help it. Also, values of literals are properly shown in tooltips now :)

[2020-12-16 11:55] drhumlen commented on #88
@En3Tho: The icing on the cake would be an underline or something on a function that is being invoked/applied parameters to. Kinda like `a b c` in the picture you posted, but with an underline under `a` since it is invoked. That would be a solid 10/10.

But I'm really happy with the way it is now too. Great work! :D

[2020-12-21 12:35] landy opened #216 "autocomplete breaks on large types"
Hello, I'm experiencing problems when using type providers that generate a large amount of properties on a type. For example https://github.com/zanaptak/TypedCssClasses used with TailwindCSS.

It always restart filtering when i write a dash and for some reason it stops completely after I write `tw.bg-green-` that second dash seems to break it. It also stops working after I delete some chars and st

[2020-12-21 13:24] auduchinok commented on #216
@landy Thanks for the complete example! I guess we'll need to add some F#-specific logic to this matching handling.

[2020-12-21 13:33] landy commented on #216
That would be great :) without it the library is almost unusable :(

[2021-01-28 22:56] josh-degraw opened #225 "Code cleanup for multiple files?"
I'm trying to format a codebase via [fantomas](https://github.com/fsprojects/fantomas), and for some reason the command-line tool seems to break sometimes, but the built-in formatter in Rider doesn't seem to suffer from the same issues, even though as I understand it they are using mostly the same underlying code for formatting.

My question is whether or not this plugin should be able to be utili

[2021-02-04 21:59] MangelMaxime opened #227 "Calling a method get_ break the syntax highlights and tooltips on hover"
Hello,

I found a strange bug in my project when calling a method `get_`.

Demo:

![rider_bug_get_](https://user-images.githubusercontent.com/4760796/106959310-c7a25200-673a-11eb-9fc6-ed44d238a19f.gif)

As you can see in the demo, the syntax highlight stop working after `get_` is called same goes for the tooltips. Sometimes it seems like syntax and tooltip still works for but I guess that's becaus

[2021-02-08 13:39] auduchinok commented on #227
@MangelMaxime Thanks for the report! The highlighting disappears due to exception in FCS:
[code]

I'll look into what a proper fix on both our and FCS sides should be.

[2021-02-08 13:57] auduchinok commented on #227
FCS fix PR: https://github.com/dotnet/fsharp/pull/11055.

[2021-02-08 14:00] auduchinok commented on #210
Thanks for the report! We'll enable it for more operators.

[2021-02-08 14:21] auduchinok commented on #225
We use Fantomas for `Reformat Code` as well. It's likely either not wired into `Code Cleanup` action properly like it's done for `Reformat Code`, or there's some exception during the cleanup that prevents the formatting. I'll look into it.

[2021-02-23 17:52] NinoFloris opened #233 "Indexer property via interface implementation quick fix is invalid"
Implementing say `IDictionary<string, string>` via the interface implementation quick fix (very happy about it, many thanks @auduchinok) generates `member this.Item = failwith "todo"` however as it's an indexer it should actually be something like `member this.Item with get key = failwith "todo"`

[2021-02-23 18:54] jonekdahl opened #234 "Fantomas version"
Hi,

I understand that fsharp-support bundles Fantomas and I have a few questions regarding the Fantomas version:

 * Can I see the Fantomas version in Rider?
 * If not, which version is bundled with 2020.3?
 * Can I change the Fantomas version used by Rider? (some of our repositories are using older Fantomas versions)

Thanks, Jon

[2021-02-24 11:20] auduchinok commented on #234
Hi Jon,

We bundle a custom Fantomas build that is usually forked from roughly the latest version at the time of a Rider release.
Rider 2020.3 uses ~4.2 version, and 2021.1 will base on 4.4.

If you need to override Fantomas version in Rider, it's possible to use it as an [external tool](https://github.com/fsprojects/fantomas#using-the-latest-version-inside-rider), though we don't test this scenar

[2021-02-24 11:24] auduchinok commented on #234
Could you tell a bit more about reasons to stay on older Fantomas versions, please? Are there some breaking changes or bugs that prevent you from upgrading? cc @nojaf

[2021-02-26 10:05] jonekdahl commented on #234
Hi Eugene,

Well, I have assumed that different versions of Fantomas formats code differently. If upgrading my Rider suddenly formats code differently then _everyone_ who works in the same repository must also upgrade to the same Fantomas version, otherwise we will keep reformatting each others code, causing a lot of noise in git diffs and pull requests.

We can try to mitigate this by communicati

[2021-02-26 10:19] nojaf commented on #234
Hello Jon, I recognize this problem and what I do in my projects is pin down a version of Fantomas via [a tool manifest](https://docs.microsoft.com/en-us/dotnet/core/tools/local-tools-how-to-use).
Usage in Rider is then indeed limited to configuring it as [an external tool](https://github.com/fsprojects/fantomas#using-the-latest-version-inside-rider).

Every once in a while I update the local Fant

[2021-02-26 11:53] auduchinok commented on #234
@jonekdahl Thanks! It makes sense to me now.

@nojaf The problem here is the custom builds of both FCS and Fantomas that we bundle, and Fantomas won't be able to use SyntaxTree from a different strong-name FCS build. I'll think about having way to use the published Fantomas version if it's somehow specified in a project.

[2021-02-26 12:10] jonekdahl commented on #234
@nojaf Thanks, I guess the external tool option is the one we have to go for.

[2021-02-26 12:13] auduchinok commented on #234
@jonekdahl We've discussed it briefly with @nojaf and we'll think about having an automated way to use external Fantomas tool in future Rider/Fantomas version.

[2021-02-26 12:53] jonekdahl commented on #234
That would be awesome, looking forward to it!

[2021-03-02 15:33] jonekdahl commented on #234
@auduchinok Should I close this issue or do you want to keep it open?

[2021-03-11 18:32] NinoFloris opened #241 "Repro of DEXP-576424"
Notice specifically `Sdk="Microsoft.NET.Sdk.Web"` which enables the mvc analyzer.

The analyzer seems to unconditionally run for *every* referenced method once any project in the project graph enables this analyzer. In our large solution we only have one `Sdk.Web` project which is not depended on, instead it only *depends on* projects (one of these projects contains the full version of the followi

[2021-03-12 21:00] auduchinok commented on #234
@jonekdahl Let's keep it open for a while as a reminder.

[2021-03-14 14:13] auduchinok commented on #241
@NinoFloris Thanks for the detailed repro, I've already fixed the exception itself. I'm going to look what could be done about the analyzer too.

So, if project A is an Sdk.Web project and project B references it, it'll also throw when opening files from B?

[2021-03-14 14:17] NinoFloris commented on #241
Correct, probably because you could move your mvc models to a shared core lib and still want those to be recognized. However for F# projects I can't remember ever seeing this analyzer showing me additional info/actions

[2021-03-19 14:30] NinoFloris opened #246 "sprintf to string interpolation refactor removes necessary parentheses"
For instance refactoring

[code]

becomes

[code]

which fails to compile (though the editor does not show red squigglies until a build has happened, another bug?)

[2021-03-19 14:32] auduchinok commented on #246
@NinoFloris Thanks!

@saul We should add a whitespace when removing parens (until the formatter does it for us).

[2021-03-19 14:38] NinoFloris commented on #246
Could parentheses stick around for constructors and members? Functions is fine to simplify

[2021-03-19 16:16] NinoFloris commented on #241
Did 5931ed54010b6f5a29349754df64060bb7e6e12d make it into EAP 8?

[2021-03-24 22:26] saul commented on #246
Raised PR to fix here: https://github.com/JetBrains/resharper-fsharp/pull/248

[2021-03-24 23:26] #246 closed

[2021-03-26 11:50] auduchinok commented on #227
This has been fixed.
@MangelMaxime Thanks again!

[2021-03-26 11:50] #227 closed

[2021-03-26 14:00] MangelMaxime commented on #227
@auduchinok Thank you for the fix :)

[2021-03-27 18:16] NinoFloris commented on #241
With EAP 9 Beta https://youtrack.jetbrains.com/issue/DEXP-584389

[2021-03-27 20:52] auduchinok commented on #241
Oh, that's another one. Thanks @NinoFloris!

[2021-03-31 06:55] MangelMaxime opened #250 "Is it possible to prevent Rider to add "open" statement at the top of the file?"
Hello,

I have the option "Enable out of scope items completion" disabled.

![image](https://user-images.githubusercontent.com/4760796/113101277-ceaa8580-91fc-11eb-92e4-7d6d2f525274.png)

But I still, see completion like that:

![image](https://user-images.githubusercontent.com/4760796/113101340-e3871900-91fc-11eb-9269-480b9c8071bb.png)

This cause me pains because in general, it is proposed on to

[2021-03-31 13:05] smoothdeveloper commented on #250
Aside, despite I'm probably not grasping the issue fully, when that out of scope completion triggers, it would be good to have both alternatives: add the `open` or use the qualified form, which doesn't seem to show up.

The similar fix in Visual Studio always offer both forms and it would be great to have feature parity on that aspect, I also kind of remember that Resharper offers the same for C#

[2021-04-07 15:38] NinoFloris commented on #241
@auduchinok it's still there in EAP 10, I guess the issue will make it into the release build?

[2021-04-07 15:40] NinoFloris commented on #241
I think https://youtrack.jetbrains.com/issue/RIDER-60765 and https://youtrack.jetbrains.com/issue/DEXP-577741 (which I just reported) are both related, not sure if you got to either by any chance.

[2021-04-15 16:33] l3m commented on #234
It seems that Fantomas is missing from the open-source software list available in Rider in Help->About->Powered by open source software

[2021-04-20 07:51] auduchinok commented on #234
@l3m Thanks for letting us know, I've forwarded it to the team (see [RIDER-61672](https://youtrack.jetbrains.com/issue/RIDER-61672)).

[2021-05-14 17:00] NinoFloris opened #263 "Colorization becomes invalid/stale after brace completion in string interpolation"
Colorization becomes invalid/stale after brace completion in string interpolation

[code]

As shown in the screenshot
<img width="646" alt="Screenshot 2021-05-14 at 18 59 48" src="https://user-images.githubusercontent.com/4218809/118304185-a34ad400-b4e6-11eb-8c64-bed8982e3019.png">

[2021-05-20 18:55] auduchinok commented on #263
@NinoFloris Thanks for reporting, I'm able to reproduce it and will look into it soon.

[2021-05-25 07:55] auduchinok commented on #263
It's fixed in upcoming 2021.2 EAP. Maybe we'll include the fix in some 2021.1 update too, but not sure yet.

[2021-05-25 07:55] #263 closed

[2021-05-25 12:55] DedSec256 commented on #234
@johnekdahl, can you share how you are currently anchoring the Fantomas version in your organization?

[2021-06-03 13:18] NinoFloris commented on #241
Another one, this plugin is driving me crazy.
https://youtrack.jetbrains.com/issue/DEXP-561480

@auduchinok any way of disabling it?

[2021-06-03 13:56] auduchinok commented on #241
@NinoFloris I've fixed one of these two yesterday, looking at the other exceptions now.

[2021-06-03 15:01] auduchinok commented on #241
I've just fixed the rest of the exceptions. We've also chatted with R# team about this analyzer, and it'll be turned off until we properly implement missing pieces for F#.

[2021-06-03 15:02] #241 closed

[2021-06-03 15:02] auduchinok commented on #241
Thanks again for reporting it!

[2021-06-04 18:29] NinoFloris commented on #241
Thanks a lot @auduchinok :) looking forward to the next eap

[2021-06-04 18:37] NinoFloris opened #274 "Brace completion changes outer list to array in error"
Brace completion changes outer list to array in error.

Take an example like:

[code]

Resulting in broken code after brace completion.
[code]

Another way to trigger it is:
[code]

[2021-06-04 18:41] NinoFloris opened #275 "Suggested open for unknown attribute on module is placed inside the module"
Suggested open for unknown attribute on module is placed inside the module
[code]

[2021-06-05 10:41] auduchinok commented on #275
And here's another set of improvements for previously not supported cases for top-level modules: [b827329](https://github.com/JetBrains/resharper-fsharp/commit/b827329bbfd84f5145b237c46db7f5879c8e1f2f), [5c0522a](https://github.com/JetBrains/resharper-fsharp/commit/5c0522a4e02420d0f6f167b5d3167ce8a96d5d5f).

[2021-06-05 10:41] #275 closed

[2021-06-10 00:58] DunetsNM opened #279 "inline function uses a private function is a compile error but IDE doesn't show it"
Repro:

[code]

It expectedly gives a compilation error:

`Program.fs(3, 16): [FS1113] The value 'inlineFunc' was marked inline but its implementation makes use of an internal or private function which is not sufficiently accessible`

But the IDE doesn't highlight the error (Rider 2021.1.3)

[2021-06-12 17:07] DedSec256 commented on #279
Thanks for the report! It looks like it's about FCS https://github.com/dotnet/fsharp/issues/11677

[2021-06-25 14:42] NinoFloris opened #282 "Still many colorization issues around moving string interpolations"
https://github.com/JetBrains/resharper-fsharp/issues/263#issuecomment-847639838

When changing a function body around a string interpolation there is still a lot of invalid colorization below an interpolated string. 2021.2 EAP 3

[2021-06-26 17:50] NinoFloris opened #283 "Go to definition on ICollection<'T> shows me ICollection"
Go to definition on ICollection<'T> (but also all the other generic/nongeneric types) shows me ICollection, once ICollection is visited once. This looks like a cache lookup issue not taking into account generic parameters.

[code]

Repro:
1. Go to `Generic.ICollection<'T>` on x, everything fine.
2. Go to `ICollection` on y, also fine.
2.  Go to `Generic.ICollection<'T>` on x again, end up on `ICol

[2021-06-26 18:52] NinoFloris commented on #97
This is still the case in 2021.2 in a regular net5.0 tfm console app.

Doesn't matter if you click on Seq or singleton.
https://user-images.githubusercontent.com/4218809/123522829-4a16b880-d6c0-11eb-9d0c-b0de01069bbd.mov

[2021-06-28 20:02] NinoFloris opened #284 "Perf regression in 2021.2 EAP4?"
Many actions like (un)indent have become very slow, as if any action now blocks the reactor until a typecheck is finished. Did something heavy get switched on by default that wasn't before or is this an fcs regression?

It's easiest to experience this in a largeish solution where you try to indent multiple times in succession, the first time it's usually ok but it completely blocks for later attem

[2021-06-28 20:29] auduchinok commented on #284
@NinoFloris Could you share any performance profile, please? It's Help -> Diagnostic tools -> Profile backend with sampling.

The reactor was removed in FCS, and that change got into EAP 4. I think it's the most impactful change in the plugin, but there're chances it could also be something in the rest of the product. Without looking at profiling data, it's difficult to think about it further, tho

[2021-06-28 20:43] NinoFloris commented on #284
:/ https://youtrack.jetbrains.com/issue/DEXP-603040

[2021-06-28 20:45] NinoFloris commented on #284
Issue on perf regression is here https://youtrack.jetbrains.com/issue/RIDER-64619

[2021-07-12 12:05] NinoFloris commented on #284
Things are fast in EAP 6!

[2021-07-12 12:07] auduchinok commented on #284
@NinoFloris Great, thanks for the update!

There was another FCS bump with reanalysis (and performance) fixes in EAP 6.

[2021-07-12 12:18] NinoFloris commented on #282
This is also finally really fixed!

[2021-07-12 20:00] NinoFloris opened #291 "Intra assembly types often don't update"
Working with EAP 6 I'm noticing quite a bit of staleness. Inter-assembly I'm used to and is almost always fixed with an explicit build. In this case however it's often intra-assembly. Where changing/adding/removing a type in a different file doesn't flow to other files, not even after an explicit build. The one thing that seems to help is to cause a change in another project * and then build * whi

[2021-07-12 20:16] auduchinok commented on #291
@NinoFloris Thanks, I've already been looking into it today.

[2021-07-12 20:20] auduchinok commented on #291
A workaround is to do a Unload/Reload project in Solution tree for now.

[2021-07-12 20:56] NinoFloris commented on #291
Hey, I just got into a slow state again, what's the best way to give you the dump?

[2021-07-12 23:17] NinoFloris opened #292 "String interpolation colorization issue with adjacent quotes"
Given code like:
[code]

Workaround is to add a space between the last three quotes and the inner quote
[code]

This issue (I reported a duplicate) seems related, but at least you have a repro now :)
https://youtrack.jetbrains.com/issue/DEXP-568210

[2021-07-13 08:00] auduchinok commented on #291
@NinoFloris Thanks, I'm able to reproduce it on my side. It's more interesting how we get into this state than looking at the state itself.

[2021-07-13 11:25] auduchinok commented on #291
I've lost one of the file system shim calls during one of FCS updates, and it was hidden by other reanalysis issues in FCS. The FCS issues have seemingly been fixed (I couldn't repro it at least, and F# team is now aware of any remaining repro cases), and I've fixed the shim call in https://github.com/JetBrains/resharper-fsharp/commit/0a6180ebb4eeaa264e022b80872898d1f3ed8ab4.

[2021-07-13 11:25] #291 closed

[2021-07-13 14:19] NinoFloris commented on #284
I actually meant this issue in https://github.com/JetBrains/resharper-fsharp/issues/291#issuecomment-878589185

[2021-07-13 18:28] auduchinok commented on #284
@NinoFloris Oh, I see, thanks.

[2021-07-13 18:46] NinoFloris commented on #291
Thanks for this one!

[2021-07-14 14:18] NinoFloris commented on #97
Did this get fixed? I can't repro it anymore 🎉 finally going straight to seq.fs

[2021-07-14 22:53] NinoFloris commented on #282
Found another case, will try to repro

[2021-07-14 22:56] NinoFloris commented on #282
[code]

Indent 0 and deindent to see the open namespace discolor

[2021-07-15 21:40] auduchinok commented on #292
@NinoFloris Very nice case, thanks!

I'm looking into it and other interpolation-related issues now.

[2021-07-15 22:02] auduchinok commented on #292
OK, this one is fixed in [76161ec](https://github.com/JetBrains/resharper-fsharp/commit/76161eccf62a1bc09fa1070d351cac00dee0edce).

There're some cases related to https://github.com/JetBrains/resharper-fsharp/issues/263 and https://github.com/JetBrains/resharper-fsharp/issues/282 to fix, though. I'm on it.

[2021-07-15 22:02] #292 closed

[2021-07-16 10:38] auduchinok commented on #282
Interesting, it seems either of https://github.com/JetBrains/resharper-fsharp/commit/76161eccf62a1bc09fa1070d351cac00dee0edce or https://github.com/JetBrains/resharper-fsharp/commit/b7cad4e8336810cc848e27e308de06bd379985fa has fixed this issue too. I cannot reproduce the indent/deindent 0 case anymore (though, it reproduces in the build without these changes).

[2021-07-16 12:27] auduchinok commented on #284
@NinoFloris Can you confirm the build provided in [RIDER-65187](https://youtrack.jetbrains.com/issue/RIDER-65187) fixes it?

[2021-07-16 12:49] auduchinok commented on #282
OK, I've managed to reproduce now.

[2021-07-16 13:44] NinoFloris commented on #284
I think so, I haven't had the issue anymore but I must say I haven't done as much dev on that project the last days as previously. I think it's good to go for EAP 7 regardless :)

[2021-07-16 20:12] auduchinok commented on #282
Here it goes: https://github.com/JetBrains/resharper-fsharp/commit/3e4f20ef0f9ca5c90c66f04e7e82405dea1123d0. @NinoFloris Thanks for all the repro cases, it helped to find the root cause!

[2021-07-16 20:12] #282 closed

[2021-07-22 16:21] panmau opened #297 "Rider doesn't respect setting: fsharp_multi_line_lambda_closing_newline"
Rider version 2021.2 EAP 8 (and previous versions) doesn't respect the `fsharp_multi_line_lambda_closing_newline` formatting option from Fantomas which results in a mismatch between the formatting from Rider and the CLI tool.

My understanding is that the current EAP uses the newest version of this plugin from branch `net212` and this branch is on the latest Fantomas version (`4.5.0`) which I use

[2021-07-23 13:26] DedSec256 commented on #297
Hi, thanks for the issue! We do not currently support this setting and are planning to add support before the release of 2021.2

[2021-07-23 14:01] auduchinok commented on #297
@panmau Thanks for such a comprehensive report!

Some settings weren't added during recent Fantomas updates, and we currently have to do it manually during updates. It's too late to merge a fix to 2021.2 release, but https://github.com/JetBrains/resharper-fsharp/pull/298 is going to be included in a bug fix update. The logic implemented in https://github.com/JetBrains/resharper-fsharp/pull/261 all

[2021-07-23 15:42] panmau commented on #297
@auduchinok Thank you for taking a look at this and the continued improvements regarding the integration of Fantomas in Rider.
I'm looking forward to the release of the bug fix!

[2021-07-23 15:44] auduchinok commented on #297
@panmau That's kudos to @DedSec256 really, I've only shared a bit of the context in the comment. 🙂

[2021-07-26 17:23] auduchinok commented on #297
Fixed in https://github.com/JetBrains/resharper-fsharp/pull/298.

[2021-07-26 17:23] #297 closed

[2021-07-28 21:58] NinoFloris commented on #284
I haven't had any slowdowns that wouldn't resolve anymore (certainly the F# compiler still takes its time now and then after changes) so I'll close the issue. I'll open a new one if I find something else!

[2021-07-28 21:58] #284 closed

[2021-07-29 07:56] auduchinok commented on #284
@NinoFloris Thanks for the follow up!

[2021-07-29 17:35] NinoFloris opened #301 "Enhancement code folding namespace"
Would be nice (specifically when there are multiple namespaces in a single file) to have `namespace ...` be a fold node in the editor.

[2021-07-29 17:58] auduchinok commented on #301
@NinoFloris Thanks for the suggestion, it seems easy enough to implement!

[2021-07-30 07:00] panmau commented on #297
Really great to see that the fix is released in EAP 9. Thanks for fixing this!

[2021-08-06 14:52] panmau commented on #297
@auduchinok / @DedSec256 I tried it out in Rider.2021.2 and I have the behaviour that I originally described in the bug report.
Are you able to reproduce it?
Could it be that the fix is not included in the new release?

[2021-08-06 15:04] auduchinok commented on #297
@panmau It was merged to the main branch, and not to release one, so it's going to be included in the bugfix release. It seems for some reason the last EAP could've used that branch instead.

@DedSec256 Could you verify the nightly builds include it?

[2021-08-06 15:52] DedSec256 commented on #297
@panmau, @auduchinok,
yes, indeed, the fix accidentally got into EAP 9. It didn't make it into the 2012.2 release, and there are currently no nightly builds, but the fix is planned for the 2021.2 bugfix release. Sorry for the misleading situation.

[2021-08-06 20:16] panmau commented on #297
@DedSec256 Thanks for the quick clarification.

[2021-08-12 17:46] DedSec256 commented on #297
@panmau, it looks like the fix made it to the nightly 2021.2 build (:

[2021-08-16 14:38] Tarmil opened #303 "Newest SDK not available for F# interactive"
The most recent SDK listed is 5.0.100, even though I have 5.0.400 and 6.0.100-preview.7 installed.

![image](https://user-images.githubusercontent.com/921395/129578587-2ca29881-cc92-458b-a78f-6d05825624ce.png)

I wonder if this is related to the fact that in these more recent SDKs, the fsi file is now called `fsi.dll` rather than `fsi.exe` in older SDKs?

OS: Windows 10
Rider version: 2021.2

[2021-08-16 16:10] auduchinok commented on #303
That's interesting. I have 5.0.400 installed, and it shows up correctly:
<img width="738" alt="Screenshot 2021-08-16 at 19 08 17" src="https://user-images.githubusercontent.com/3923587/129594570-dc98191c-f885-49a6-b8d9-591358696af0.png">

Maybe it's something to do with .NET 6 preview, I'll need to take a look.

[2021-08-16 16:15] auduchinok commented on #303
And the same after installing the preview:
<img width="730" alt="Screenshot 2021-08-16 at 19 13 40" src="https://user-images.githubusercontent.com/3923587/129595455-61a2821c-02b6-4f0f-8a73-efe8e929e5dc.png">

Does enabling the "Choose F# Interactive automatically" checkbox change anything for you?

[2021-08-16 18:47] Tarmil commented on #303
Oh, I'm on another machine right now so I can't say for sure, but I think this was just because I had a global.json in that project.

[2021-10-25 09:37] nojaf opened #320 "Use Fantomas.Client"
Hello,

I've released a first version of [Fantomas.Client](https://www.nuget.org/packages/Fantomas.Client/), this is the proposed solution for https://github.com/fsprojects/fantomas/issues/1844.

A first editor implementation was recently merged in [FsAutocomplete](https://github.com/fsharp/FsAutoComplete/pull/836).

The main idea is that you reference `Fantomas.Client` and create a new `LSPFantom

[2021-12-21 16:19] auduchinok commented on #303
@Tarmil Does it still reproduce for you?

[2021-12-25 11:14] Tarmil commented on #303
Now on Rider 2021.3, it lists and chooses the expected .NET SDK 6.0.100. I think this can be closed.

[2021-12-25 11:14] #303 closed

[2021-12-29 17:09] Phantom1472 opened #332 "Reformat Code Ignores @formatter:off comment"
Even after enabling "Turn formatter on/off with markers in code comments" (path: File | Settings | Editor | Code Style)
the formatter ignores it and still formats lines that should not be changed.
For example:
[code]
becomes:
[code]

[2022-01-14 18:53] bartelink opened #333 "Erroneous remove parens hint"
Using Rider 2021.3.2 on Mac x64, I followed two hints to remove parens (on active patterns) without paying attention, and it broke my build.

The second one is [obviously] correct, but the first one changed the meaning - the build is fixed when I undo both:

https://github.com/jet/dotnet-templates/pull/112/commits/bf07b2666c7854dc7ea6d50bd9676585fef0d128

The second removal is fine when applied on

[2022-01-17 19:57] auduchinok commented on #333
@bartelink Thanks for reporting it! It's just been fixed in [b0c91a4](https://github.com/JetBrains/resharper-fsharp/commit/b0c91a4dba6e967d126997344fa846f6263c6f6d).

[2022-01-17 19:57] #333 closed

[2022-01-17 20:01] auduchinok commented on #332
Hi @Phantom1472, we use [Fantomas](https://github.com/fsprojects/fantomas) library for formatting F# code, and with it's current design it has to be implemented there first to be available in Rider.

@nojaf What do you think about supporting such markers?

[2022-01-17 20:03] bartelink commented on #333
Wonderful, thanks for the speedy work!

[2022-01-17 20:06] nojaf commented on #332
Hello, this is being tracked in https://github.com/fsprojects/fantomas/issues/1704.
I would like to have something in the likes of this supported.

I'm unfamiliar with the `// @formatter:off` syntax, so I can't say for sure we are going for this exact thing.
The scope of what is possible might be limited to start with but the request is accepted in principle.

[2022-01-17 20:10] Phantom1472 commented on #332
@nojaf This syntax comes from the default settings in Jetbrains tools:
![image](https://user-images.githubusercontent.com/6776227/149831674-85d1c14b-92ae-4450-96a3-f76d2aca5e20.png)

As you can see, they also support a more general syntax (you can change these values)

[2022-01-19 18:29] NinoFloris opened #335 "InternalsVisibleTo assembly attribute in F# project does not work"
Since this issue was opened https://youtrack.jetbrains.com/issue/RIDER-44439 I could always work around it by defining IVT  attributes in the F# project *code* instead of msbuild to let Rider pick up the IVT status in dependent C#/F# projects. Since .NET 6.0? neither IVT attributes nor the MSBuild approach flows to dependent projects if the defining project is F#.

Building the solution actually w

[2022-01-19 18:41] NinoFloris commented on #335
@auduchinok I've pushed the project instead, I hope you can take a look.

https://github.com/NinoFloris/IVT-rider-repro

[2022-01-20 10:09] auduchinok commented on #335
@NinoFloris Thanks a lot for the repro, I'll take a look soon!

[2022-01-20 15:32] auduchinok commented on #335
Here's some progress:

<img width="421" alt="Screenshot 2022-01-20 at 18 29 25" src="https://user-images.githubusercontent.com/3923587/150369342-e0ac68ea-49c9-46d3-90bc-96df91b2914c.png">

It uses several hacks, and it looks like I'll have to keep some of them until a considerable amount of work is done properly, but this implementation might be good enough for now as a workaround, since that big

[2022-01-20 18:37] NinoFloris commented on #335
OK, that already looks pretty good!

I forgot to clarify earlier that F# to F# also seems broken when it comes to respecting IVT in tooling, probably makes sense to you, just making sure you know.

[2022-01-21 17:24] auduchinok commented on #335
@NinoFloris Thanks again for reminding about it!

Fixed in:
* [c58609f](https://github.com/JetBrains/resharper-fsharp/commit/c58609f3c257aa645b9259357d8a4086f9f7e96d): fixes including generated AssemblyInfo.fs files into analysis
* [4e53681](https://github.com/JetBrains/resharper-fsharp/commit/4e53681c3839978d6f4fc0b53d578caab78b602f): provides the attributes to the project model using questionabl

[2022-01-21 17:24] #335 closed

[2022-01-21 19:48] NinoFloris commented on #335
Fantastic! Thanks for such a quick merge of the fixes

[2022-01-23 08:14] bartelink opened #336 "Remove redundant parens on return statements"
Given code within an `async` block such as:

    let deltas = Array.concat versionsByTranche
    return deltas

Applying Inline Variable refactor converts that to:

        return (Array.concat versionsByTranche)

It should either be possible to have the parentheses not be introduced in the first place, or be able to have the redundant parens be [highlighted and] removed via the remove redundant p

[2022-01-23 13:20] auduchinok commented on #336
Yes, this is what we're going to do, thanks. Right now we have somewhat limited rules for different expression types permutations, and it acts in a defensive way in cases that aren't explicitly supported, since it's better to add redundant parens than to break the code during the refactoring. F# 6 simplifies things with its [refined undentation rules](https://github.com/fsharp/fslang-design/blob/m

[2022-01-23 14:46] auduchinok commented on #336
Supporting`yield`/`return` expressions turned out to be quite straightforward, though! I've added handling for it in [25e9d60](https://github.com/JetBrains/resharper-fsharp/commit/25e9d60f3b751ac70ae38420478245c6e851707b). Thanks for writing about it!

Please report other cases where some code modification is suboptimal too: some of them could be as easy to fix, and others would be good test case

[2022-01-23 14:46] #336 closed

[2022-01-23 15:01] auduchinok commented on #335
Just for the record, F#->F# and C#->F# also works:

<img width="482" alt="Screenshot 2022-01-23 at 18 00 32" src="https://user-images.githubusercontent.com/3923587/150684705-7769581a-2031-4b38-861d-ef92dcd799f9.png">

[2022-01-24 15:56] NinoFloris opened #337 "Missing constraint info in language model"
I have one other F# -> C# IDE issue concerning type parameter constraints. These seem to be missing in the F# type info resharper consults from C# projects.

I have added the repro on top of the previous commit in the https://github.com/NinoFloris/IVT-rider-repro

https://github.com/NinoFloris/IVT-rider-repro/commit/d4cfe7f754e77b47cefd0e49400ba2360635b815

Beyond IDE errors it also means Rider is

[2022-01-28 13:56] auduchinok commented on #337
@NinoFloris Thanks! Fixed in [5721f14](https://github.com/JetBrains/resharper-fsharp/commit/5721f14d2e3c0482b09dbbfaf0b3ca250752e50f) and [b63f18f](https://github.com/JetBrains/resharper-fsharp/commit/b63f18f1d1a28460021e2ab6e476405c34710522).

[2022-01-28 13:56] #337 closed

[2022-02-23 01:47] NinoFloris opened #347 "Type parameter support on generic types"
What was implemented in https://github.com/JetBrains/resharper-fsharp/commit/b63f18f1d1a28460021e2ab6e476405c34710522 seems to be a bit off around generic types with generic methods. (tested in EAP3, which does include the IVT fixes, thanks again for those!)

Things that are not quite working for generic types with generic methods are:
- Interface stub generation in C#, doing this still doesn't co

[2022-02-23 07:51] auduchinok commented on #347
Yes, it turned out FCS returns outer type parameters as if they were defined on method.

@NinoFloris Thanks for reporting it all, it helps a lot!

[2022-02-23 07:52] auduchinok commented on #347
Fixed in [6ad82d5](https://github.com/JetBrains/resharper-fsharp/commit/6ad82d5fd161f7be9638aa9a16bdb354272ea02b).

[2022-02-23 07:52] #347 closed

[2022-03-08 17:24] xankz opened #351 "Actions on Save Fantomas Format doesn't work"
Enabling "Reformat and Cleanup Code" in Rider's Actions on Save does not automatically call Fantomas on save. It works when I do it manually from the menu though.

Looking further, I don't see any F# tasks in Editor > Code Cleanup at all

[2022-03-24 07:37] En3Tho commented on #160
@auduchinok I believe this should be closed. Not a bug. "Better defaults" is too much of a subjective thing.

[2022-04-01 08:52] ShalokShalom opened #361 "Marketplace"
Hi there :)

Due to being new to the Jetbrains community?

Why is it, that this tool is only available due to self-building?

I see it not on the market place:

![Screenshot_57](https://user-images.githubusercontent.com/6344099/161229765-ebba7e12-3b39-4a0b-a4c3-06bc0e6c5190.png)

There is also no comment to why.
Is it, because you like people to buy Rider?

[2022-04-01 12:43] citizenmatt commented on #361
Hi! Looking at the image, that's the plugins settings page for IntelliJ IDEA. This project is a plugin bundled Rider, and isn't compatible with IntelliJ IDEA, so it won't show up in IDEA.

It's not compatible with IntelliJ IDEA because it requires a lot of things that are only available in Rider, such as the Visual Studio/msbuild based project model, the dotnet build system, dotnet debugger and so

[2022-04-01 23:20] ShalokShalom commented on #361
Well, so you mean "building" and not, how usually, "building (and using) in this section:

![Screenshot_118](https://user-images.githubusercontent.com/6344099/161353599-0b81b34e-bf17-48e2-8a11-df6bcdbf68c8.png)

https://github.com/JetBrains/resharper-fsharp#building-the-plugin

[2022-04-02 17:58] citizenmatt commented on #361
This project is F# support in Rider. It requires Rider to run. When you build it, Gradle will download a version of Rider to use as an SDK, then `./gradlew runIde` will run this SDK version of Rider to host and test the plug-in.

Since this plug-in is bundled with Rider, it can't be built and installed separately, but it can be built, developed and tested in an SDK version of Rider. This is downlo

[2022-04-04 14:53] DedSec256 commented on #351
Thanks for the issue, I'll take a look at it!

[2022-04-04 20:25] #361 closed

[2022-04-06 16:43] DedSec256 commented on #351
@kinesivan, may I know your Rider version? Are there any errors in the code? Is it a script file or a simple .fs file in a project? It would be really nice if you could attach the code snippet since I can't reproduce the issue in Rider 2021.3.3 and Rider 2022.1 EAP.

[2022-06-08 12:51] auduchinok commented on #234
This is implemented in #339, kudos to @DedSec256 and @Rizzen!

[2022-06-08 12:51] #234 closed

[2022-06-08 12:54] #320 closed, assigned to nobody

[2022-06-08 12:56] #351 closed

[2022-07-05 14:27] NinoFloris opened #379 "Support for <WarnOn> MSBuild property"
F# 6.0 SDK released with support for specifying warnings via a new MSBuild property which isn't picked up by Rider yet.

I'm assuming to light this up, support needs to be added over here? https://github.com/JetBrains/resharper-fsharp/blob/b3bdd454313fb4b32e924ad5b72238245f020f7c/ReSharper.FSharp/src/FSharp.Psi.Daemon/src/Stages/FSharpCompilerWarningProcessor.fs

[2022-07-06 10:35] auduchinok commented on #379
@NinoFloris Could you please share a small repro solution showing where Rider doesn't show a warning while the console build does?

The example from https://github.com/dotnet/fsharp/issues/13437 doesn't produce any additional warning during build for me.

I've also checked it with `FS3180` and got no warnings produced by FCS inside neither Rider nor Visual Studio, so it'd be better to report it to

[2022-07-06 10:43] auduchinok commented on #379
The `FS3180` case is now reported to FCS: https://github.com/dotnet/fsharp/issues/13442.

[2022-07-06 11:30] NinoFloris commented on #379
I see, I've changed the repro in the F# issue, there is apparently more broken in the compiler around 3395.

You should now see a warning appear under `StringValues("1")` when 3395 is specified via OtherFlags, but none via WarnOn

[2022-07-07 10:58] NinoFloris commented on #379
@auduchinok can you confirm the example repros?

[2022-07-07 12:15] auduchinok commented on #379
@NinoFloris Yes, I can repro the `OtherFlags` vs `WarnOn` difference, thank you!

[2022-07-28 13:56] NinoFloris commented on #97
The cases above are still working great.

There are some cases left though like going to definition for `Option.None` still doesn't quite end up where it should be in the file.

Similarly trying to go to def for `IEvent<'Args>` ends up showing a decompiled version of `IEvent<'Delegate, 'Args>` instead, so that doesn't even point to prim-types.fs

[2022-08-15 23:19] DedSec256 commented on #283
Not reproduced in Rider 2022.2.

Can you re-check, please?

[2022-08-19 00:39] #279 closed

[2022-08-25 19:38] MangelMaxime opened #403 "When applying formatting sometimes the file jump to the bottom"
This break a lot the workflow because then I need find the line I was at.

https://user-images.githubusercontent.com/4760796/186752943-cb7a4410-d5d9-4247-8074-0a96b6fca592.mp4

Version: 2022.2
Build: RD-222.3345.139
OS: Windows

[2022-08-26 11:37] auduchinok commented on #403
@DedSec256 Could you please check if this has been previously reported to YouTrack? I'm not sure if it's F#/Fantomas-specific.

[2022-08-27 01:44] DedSec256 commented on #403
@auduchinok, I didn't find any related issue, so I created [a new one](https://youtrack.jetbrains.com/issue/RIDER-81571/Formatting-a-large-file-causes-the-cursor-to-scroll-to-the-end)

[2022-09-30 18:48] MangelMaxime opened #420 "How can I disable auto indent of Rider F#?"
Often, when pressing "Enter" Rider tries to auto indent the code but most often than not it goes against my flow of working.

https://user-images.githubusercontent.com/4760796/193336703-625d7a0f-ce90-4126-b80d-9c43f4a7a0ea.mp4

How can I disable this feature?

[2022-09-30 19:00] auduchinok commented on #420
I think I would be much better to have it fixed instead of disabling. 🙂

[2022-09-30 19:10] MangelMaxime commented on #420
I will for sure report them, right now I can't seems to find them. But I think indeed there are others places.

Because, I against fight against Rider which is unfortunate.

I would still love having the capacity to choose what is enable or not, especially when the editor try to be smart like auto indent, auto un-indent, code injection, etc.

But I think this is a personal preference.

[2022-10-12 14:51] edgarfgp opened #428 "Quick fix for removing _ when using a union case with not data"
I recently fixed https://github.com/dotnet/fsharp/issues/13851
- Fix https://github.com/dotnet/fsharp/pull/14055

[code]

This will not longer be valid and a new warning error will be reported : ```Pattern discard is not allowed for union case that takes no data.```

Will Rider be affected by this change ?

[2022-10-15 21:34] cmeeren commented on #42
Are there plans (or is it possible) to add support for FSharpLint to the editor?

Using a linter can really improve code (as for example Mark Seemann writes about in the book [Code that fits in your head](https://www.amazon.com/Code-That-Fits-Your-Head/dp/0137464401)). While it's possible to use FSharpLint as a command-line tool or a MSBuild task, it is a very limited experience to not have any in

[2022-10-21 13:31] MangelMaxime commented on #420
There is also this situation:

https://user-images.githubusercontent.com/4760796/197207435-ca29a181-f56f-4cf5-a76d-9528a9be6c48.mp4

In theory, the cursor does indent correctly but the problem is I have to un-indent the `)`.

I am not certain what behaviour we expect here. Does Rider un-indent code sometimes? If yes, should he un-indent the `)` if I add a new line?

[2022-10-24 07:49] marcasmar94 commented on #170
I'm also facing the same issue

<img width="149" alt="image" src="https://user-images.githubusercontent.com/16415378/197474294-f24d4902-53fd-43dd-afc2-3f8d5c292a89.png">

**My Rider info:**

- JetBrains Rider 2022.2.3
- Build #RD-222.4167.23, built on September 9, 2022
- Runtime version: 17.0.4+7-b469.53 x86_64
- VM: OpenJDK 64-Bit Server VM by JetBrains s.r.o.
- macOS 12.6
- .NET 6.0.6

[2022-10-27 10:01] auduchinok commented on #420
@MangelMaxime Thanks for this case, I've been thinking about it for some time now.

Do you use Fantomas on this solution? If yes, have you changed any settings?

[2022-10-28 13:06] MangelMaxime commented on #420
When writing the code manually, yes I always place the closing paren this way.

[code]

I do use Fantomas and I have `fsharp_multi_line_lambda_closing_newline=true` among other settings to try making follow my way of writing code.

Full setting list:

[code]

[2022-10-28 15:03] auduchinok commented on #420
Great, thanks! It allows us to see what kind of style is expected here. I'll try using it in the Enter logic, so this example:
[code]
would become
[code]
when pressing Enter.

[2022-11-10 00:51] safesparrow opened #439 "Unable to start Rider"
Hi,
I'm trying to run Rider with the `net223` branch, and I'm getting lots of Java runtime errors.
If it matters, I have these JDK versions installed:
- 19
- 18.0.21
- 16
and `JAVA_HOME` pointing to one of them (doesn't matter which) - as I understand though the plugin is using its own JDK.

`./gradleW runIDE` is throwing the following:
[code]

I can see this `javac.exe` file fetched by gradle dur

[2022-11-16 06:43] edgarfgp commented on #428
Looks like this warning is now available on the EAP 8. and a code fix has been implemented in VS https://github.com/dotnet/fsharp/pull/14267. Will this also be added for Rider 2022.3 stable?

[2022-11-16 10:10] auduchinok commented on #428
Great, let's have a chat on Slack? 🙂

[2022-11-16 10:16] edgarfgp commented on #428
Sure

[2022-11-18 13:05] En3Tho commented on #439
Same here.. I'm not sure which certificate I have to install or what is it

[2022-11-18 13:15] auduchinok commented on #439
It has been just fixed in `gradle-intellij` 1.10, please update to a newer `net231` that uses this version.

[2022-11-18 13:15] #439 closed

[2022-11-19 07:30] kant2002 opened #447 "Cannot run tests"
After I update to latest version, after my experiments with #445 I observe following
- I can run plugin inside IDE
- but I cannot run tests inside Idea.
[code]
produces for example
[code]

and tests seems to be does not run. Not sure what to do.

[2022-11-19 07:34] kant2002 commented on #447
Side node. I mostly C# developer by trade, and I would appreciate that process of running tests for Java would be documented. Probably the same for C# part, since if Java develop decides to contribute it may suffer same problem as me.

[2022-11-22 14:37] auduchinok commented on #447
This is a recent issue, and should be fixed in either [`gradle-intellij`](https://github.com/JetBrains/gradle-intellij-plugin) or in the Rider SDK. I've reported it internally and will post a workaround if one is found before the fix.

Just a side note: the most of the tests are written in the .NET part of the plugin, and Java part contains only a few of them, mostly integration ones. For the most

[2022-11-22 14:41] kant2002 commented on #447
My experiment consist of implementing custom keywords for F#, so I would like to run everything I have. Also I would be happy to know what’s canonical way to run tests, so I at least can improve docs in this area

[2022-11-22 15:02] auduchinok commented on #420
@MangelMaxime Both issues are covered in 2022.3, could you try it the EAP builds and see if there're any additional cases where it doesn't do what you expect?